{{extend "basic.html"}}

<span data-icon='R' class='icon'></span>

{{if result == "invalid_link":}}
<h3>The access link is invalid</h3>
<p>Make sure the link is entered correctly and try again.</p>

{{elif result == "access_granted":}}
<h3>You now have access to the {{=portal.name}} portal</h3>
<p>You can go to this portal again in the future by going to<br/>
<b>http://{{=request.env.http_host}}/{{=portal.url}}</b>.</p>
<a href="/{{=portal.url}}" class="btn cta-btn">Continue</a>

{{elif result == "can_now_edit":}}
<h3>You now have edit privileges on the {{=portal.name}} portal</h3>
<p>You can go to this portal again in the future by going to<br/>
<b>http://{{=request.env.http_host}}/{{=portal.url}}</b>.</p>
<a href="/{{=portal.url}}" class="btn cta-btn">Continue</a>

{{elif result == "already_has_access":}}
<h3>You already have access to the {{=portal.name}} portal</h3>
<p>You can go to this portal again in the future by going to<br/>
<b>http://{{=request.env.http_host}}/{{=portal.url}}</b>.</p>
<a href="/{{=portal.url}}" class="btn cta-btn">Continue</a>

{{else:}}
<h3>You now have access to the {{=portal.name}} portal</h3>
<p>To get the full functionality of this portal and return anytime you visit<br/>
<b>http://{{=request.env.http_host}}/{{=portal.url}}</b>,<br/>
please sign in or sign up for Filtergraph.</p>
<a href="/login?_next={{=request.env.web2py_original_uri}}" class="btn cta-btn">Sign In</a>
<a href="/register?_next={{=request.env.web2py_original_uri}}" class="btn cta-btn">Sign Up</a><br/><br/>
<a href="/{{=portal.url}}" class="btn btn-link">No thanks, view data without signing in</a>

{{pass}}