{{extend 'layout.html'}}
<h1>Add new portal</h1>
{{=form}}

<script language="javascript">
<!--
 $('<span style="padding-left:7px;">http://{{=request.env.http_host}}/</span>').insertBefore('input#portals_url');
 $('input#portals_url').width('100px');
 $('input#portals_name').attr("autocomplete","off");
 $('input#portals_name').keyup(function() {
     $('input#portals_url').val($('input#portals_name').val().replace(" ","").replace("-","").toLowerCase());
 });
 //-->
</script>
