{{extend 'telegraph.html'}}

<div class="section-header">
        <div class="clearfix">
          <div class="title-container left">
            <h4 class="title left"><a href="/{{=request.application}}/default/portals">Home</a> <span data-icon="x"></span> Add a portal</h4>
          </div>
        </div>
        <hr/>
      </div>
      
{{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>
{{pass}}

<section class="section-main row">
        <div class="col-lg-6">
    {{=XML(FILE_SPECS)}}
</div>
<div class="col-lg-6">
{{=form}}
    <i>You can upload files up to {{=quota}}MB.<br/>Send us a feedback form if you need to upload larger files.</i><br/><br/>
</div>
</section>

<style>
    td {display:block;}
</style>
<script language="javascript">
<!--
    $('<span>http://{{=request.env.http_host}}/</span>').insertBefore('input#no_table_url');
    $('<div id="checkportal"></div>').insertAfter('input#no_table_url');
 $('input#no_table_url').width('100px');
 $('input#no_table_name').attr("autocomplete","off");
 $('input#no_table_name').keyup(function() {
     $('input#no_table_url').val($('input#no_table_name').val().replace(/(\W)/g,"").toLowerCase());
        checkportal();
 });
    $('input#no_table_url').keyup(function() {
        checkportal();
    });
    $("#no_table_fileurl__row").hide();
    $('<br/><a style="cursor:pointer" onclick=\'$("#no_table_file__row").hide();$("#no_table_fileurl__row").show();\'>or enter a URL...</a>').insertAfter('#no_table_file');
    $('<br/><a style="cursor:pointer" onclick=\'$("#no_table_file__row").show();$("#no_table_fileurl__row").hide();\'>or upload a file...</a>').insertAfter('#no_table_fileurl');
    $('<label for="no_table_restrictions"> Restrict access to this portal</label><br/><i>Only you and Filtergraph users you authorize can<br/>access this portal, subject to our <a href="/tools/default/terms">terms of use.</a></i>').insertAfter('input#no_table_restrictions');
    $("#no_table_restrictions__label").hide();
    $("input[type='submit']").addClass('btn');
    $("input[type='submit']").addClass('btn-default');
    //http://forums.devshed.com/javascript-development-115/time-restraint-430177.html
    var count = 0;
    function checkportal()
    {
       count = count+1;
       setTimeout("checkportalGo("+count+")",200);
    }

    function checkportalGo(currCount)
    {
       if(currCount == count)
       {
          count = 0;
          ajax("/{{=request.application}}/default/checkportal?url="+$('input#no_table_url').val(),[],"checkportal")
       }
    }



 //-->
</script>
