{{extend 'telegraph.html'}}

<div class="section-header">
   <div class="clearfix">
     <div class="title-container left">
       <h4 class="title left"><a href="/{{=request.application}}/default/portals">Home</a> <span data-icon="x"></span> <a href="/{{=request.application}}/default/editportal/{{=portal.id}}">{{=portal.name}}</a> <span data-icon="x"></span> Add User Or Create Link
     </div>
   </div>
   <hr/>
 </div>
 
{{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>
{{pass}}

<legend>Users</legend>
Enter an email address or Filtergraph username below. If the e-mail is not registered with Filtergraph, we'll send out an invitation.

<br/><br/>
    <form class="form-inline" method="post">
  <div class="form-group">
    <label class="sr-only" for="user">Email or Filtergraph username</label>
    <input type="text" style="width:300px" class="form-control" id="user" name="user" placeholder="Email or username" {{if request.vars.user:}}autofocus{{pass}}>
  </div>
  <div class="form-group">
    <label class="sr-only" for="usertype">User type</label>
     <select class="form-control" id="usertype" name="usertype">
        <option value="view">View only</option>
        <option value="viewedit" {{if request.vars.usertype == "viewedit":}}selected{{pass}}>View and edit</option>
      </select>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<br/><br/>
<div class="well">
<table class="table table-hover">
<thead>
<tr>
<th>Invites sent to non-Filtergraph emails</th>
<th></th>
</tr>
</thead>
<tbody>
{{for link in links:}}
{{if link.invited_email:}}
<tr>
<td>{{=link.invited_email}}
{{if not link.viewonly:}}<span class="label label-danger">View and edit</span>{{pass}}</td>
<td style="text-align:right"><a class="btn btn-primary" href="/filtergraph/default/revokelink/{{=link.id}}">Revoke invitation</a></td>
</tr>
{{pass}}
{{pass}}
</tbody>
</table>
</div>
<br/><br/>

<legend>Links</legend>
Use links to share your portal with a mailing list or other group without inviting each user individually.
<br/><br/>
<form class="form-inline" method="post">
  <div class="form-group">
    Anyone with the link can:
  </div>
  <div class="form-group">
    <label class="sr-only" for="linktype">Link type</label>
     <select class="form-control" id="linktype" name="linktype">
        <option value="view">View only</option>
        <option value="viewedit" {{if request.vars.linktype == "viewedit":}}selected{{pass}}>View and edit</option>
      </select>
  </div>
  <button type="submit" class="btn btn-default">Create link</button>
</form>
<br/><br/>
<div class="well">
<table class="table table-hover">
<thead>
<tr>
<th>Link</th>
<th>Visits</th>
<th></th>
</tr>
</thead>
<tbody>
{{for link in links:}}
{{if not link.invited_email:}}
<tr>
<td>http://{{=request.env.http_host}}/access/{{=link.url}}
{{if not link.viewonly:}}<span class="label label-danger">View and edit</span>{{pass}}</td>
<td>{{=link.visits}}</td>
<td style="text-align:right"><a class="btn btn-primary" href="/filtergraph/default/revokelink/{{=link.id}}">Revoke link</a></td>
</tr>
{{pass}}
{{pass}}
</tbody>
</table>
</div>

<br/><br/>

<legend>Requests</legend>
Users who requested access to the portal by clicking on "Request access" on the landing page.
<br/><br/>
<div class="well">
<table class="table table-hover">
<thead>
<tr>
<th>User or email</th>
<th></th>
</tr>
</thead>
<tbody>
{{for req in reqs:}}
{{if req.zuser:}}
<tr>
<td>{{=req.zuser.first_name}} {{=req.zuser.last_name}}</td>
<td style="text-align:right"><a class="btn btn-primary" href="/allow/{{=req.url}}" target="_blank">Allow user</a></td>
</tr>
{{else:}}
<tr>
<td>{{=req.email}}</td>
<td style="text-align:right"><a class="btn btn-primary" href="/allow/{{=req.url}}" target="_blank">Allow user</a></td>
</tr>
{{pass}}
{{pass}}
</tbody>
</table>
</div>