{{extend 'telegraph.html'}}
<div class="section-header">
        <div class="clearfix">
          <div class="title-container left">
            <h4 class="title left"><a href="/{{=request.application}}/default/portals">Home</a> <span data-icon="x"></span> Enter Access Code</h4>
          </div>
        </div>
        <hr/>
      </div>
      
{{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>
{{pass}}


{{=form.custom.begin}}
<div class="col-sm-6" style="padding-bottom:50px">
{{=formbuilder([
('no_table_code','Enter code here','text',request.vars.no_table_code,form.errors.get('no_table_code')),
])}}
</div>
{{=form.custom.end}}
