{{extend "basic.html"}}

<span data-icon='R' class='icon'></span>

{{if result == "invalid_link":}}
<h3>The allow link is invalid</h3>
<p>Make sure the link is entered correctly and try again.</p>

{{elif result == "not_authorized":}}
<h3>You are not authorized to allow users for the {{=portal.name}} portal</h3>
<p>Please contact the admin of this portal to allow the user.</p>

{{elif result == "user_approved":}}
<h3>{{=user.first_name}} {{=user.last_name}} is now allowed to view the {{=portal.name}} portal</h3>
<p>{{=email_result}}</p>
<a href="/{{=portal.url}}" class="btn cta-btn">Go to portal</a>

{{elif result == "invite_sent":}}
<h3>An invitation was sent to {{=email}}</h3>
<p>{{=email_result}}</p>
<a href="/{{=portal.url}}" class="btn cta-btn">Go to portal</a>

{{elif result == "user_already_has_access":}}
<h3>{{=user.first_name}} {{=user.last_name}} already has access to the {{=portal.name}} portal</h3>
<a href="/{{=portal.url}}" class="btn cta-btn">Go to portal</a>

{{elif result == "email_already_sent":}}
<h3>An invitation was already sent to {{=email}}</h3>
<a href="/{{=portal.url}}" class="btn cta-btn">Go to portal</a>

{{pass}}