{{extend 'telegraph.html'}}

<div class="section-header">
        <div class="clearfix">
          <div class="title-container left">
            <h4 class="title left"><a href="/{{=request.application}}/default/portals">Home</a> <span data-icon="x"></span> Add a portal</h4>
          </div>
        </div>
        <hr/>
      </div>
      
{{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>
{{pass}}

{{=form.custom.begin}}
<div class="col-sm-6" style="padding-bottom:50px">
{{=formbuilder([
('name','Name','text',request.vars.name,form.errors.get('name')),
('url','URL','url',request.vars.url,form.errors.get('url'),"http://"+request.env.http_host+"/"),
('restrictions','','checkbox',request.vars.restrictions,form.errors.get('restrictions')),
])}}
</div>
{{=form.custom.end}}

<style>
    td {display:block;}
</style>
<script language="javascript">
<!--
 $('input#name').attr("autocomplete","off");
 $('input#name').keyup(function() {
     $('input#url').val($('input#name').val().replace(/(\W)/g,"").toLowerCase());
        checkportal();
 });
    $('input#url').keyup(function() {
        checkportal();
    });
    $('<label for="restrictions"> Restrict access to this portal</label><br/><i>Only you and users you authorize can access this portal.</i>').insertAfter('input#restrictions');
    $("input[type='submit']").addClass('btn');
    $("input[type='submit']").addClass('btn-default');
    //http://forums.devshed.com/javascript-development-115/time-restraint-430177.html
    var count = 0;
    function checkportal()
    {
       count = count+1;
       setTimeout("checkportalGo("+count+")",200);
    }

    function checkportalGo(currCount)
    {
       if(currCount == count)
       {
          count = 0;
          ajax("/{{=request.application}}/default/checkportal?url="+$('input#url').val(),[],"checkportal")
       }
    }



 //-->
</script>
