{{extend 'layout.html'}}
<h2>Edit dataset</h2>
<!--http://welovecss.com/showthread.php?t=465-->
<div style="float:left">{{=form}}
<a href="/{{=request.application}}/default/inspect/{{=request.args[1]}}">Edit header information...</a></div>
<div style="float: left;
margin-left: 25px;
border: 1px solid black;
padding: 10px;
width:400px;
background: #FFC;
line-height:120%">
<b>Guidelines for datasets:</b>
<ul>
<li>All datasets are ASCII text only.</li>
<li>The first line of the dataset is always the header, which defines the &quot;short name&quot; of each column in the dataset. Headers are separated by by whitespace (one or more spaces or tabs) and can contain any character except double quotes (") and backslashes (\).</li>
<li>The rest of the lines contain the data, with each line as a separate data entry. Each column is separated by whitespace (one or more spaces or tabs).</li>
<li>Each line of data should have as many data elements as there are headers. If a line is missing one or more data elements, the dataset cannot be interpreted.</li>
<li>Any non-numeric value in a numeric column is treated as an unknown.</li>
<li>While short names in the dataset cannot have spaces, you can redefine them into longer names which can have spaces in them.</li>
<li>Dates are supported using the format &quotYYYYMMDD&quot.</li>
<li>The header line may optionally start with the # symbol for clarity and use in other programs.</li>
</ul>
</div>
