{{extend 'telegraph.html'}}

      <div class="section-header">
        <div class="clearfix">
          <div class="title-container left">
            <h4 class="title left"><a href="/{{=request.application}}/default/portals">Home</a> <span data-icon="x"></span> {{=portal.name}}</h4>
          </div>

          <div class="controls-container left">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editModal">Manage <span class="icon" data-icon="t"></span></button>
          </div>

          <div class="controls-container right">
            <a href="http://{{=request.env.http_host}}/{{=portal.url}}" target="_blank" class="right btn btn-primary right" role="button">Start Portal</a>
          </div>

        </div>
        <hr/>
        <p><a href="http://{{=request.env.http_host}}/{{=portal.url}}" target="_blank">{{=request.env.http_host}}/{{=portal.url}} </a></p>
      </div>
      
      {{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>
{{pass}}

<!-- Graph Info Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editModal">{{=portal.name}}</h4>
          </div>
          <div class="modal-body">

            {{=form.custom.begin}}
<div class="col-sm-12" style="padding-bottom:50px">
{{=formbuilder([
('name','Name','text',portal.name,form.errors.get('name')),
('url','URL','url',portal.url,form.errors.get('url'),"http://"+request.env.http_host+"/"),
('restrictions','','checkbox',portal.private,form.errors.get('restrictions')),
])}}
</div>
{{=form.custom.end}}
            <h4 class="color-red">Danger Zone</h4>
            <div class="clearfix">
              <div class="col-lg-12">
                <p><b>Delete this project</b></p>
              </div>
              <div class="col-lg-6">
                <small>This will delete the portal and all data files associated with it. All generated links that refer to this portal will also stop working. This action cannot be undone.</small>
              </div>
              <div class="col-lg-6">
                <a onclick="if(confirm('Are you sure?')){window.location.href='/{{=request.application}}/default/deleteportal/{{=portal.id}}'}" type="button" class="right btn btn-danger btn-med">Delete This</a>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

<section class="section-main row">
        <div class="col-lg-6">
          <h2>Data Files</h2>
          <small>Edit your data files</small>
          <hr>
          {{for i in range(len(datasets)):}}

    <div class="btn-group">
        <button onclick="window.location.href='{{=URL('readdataset',args=[datasets[i].id])}}'" class="btn btn-primary btn-large">{{=datasets[i].name}}
          {{if datasets[i].is_default:}}<span class="badge badge-light">Default</span>{{pass}}</button>
    <button class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href='{{=URL("readdataset",args=[datasets[i].id])}}'>Customize</a></li>
    <!--<input type="button" onclick="$('#dforms{{=i}}').toggle();$('#uforms{{=i}}').hide()" value="Customize" class="btn">-->
        <li><a href='{{=URL("upload",args=[portal.id],vars={"replace":datasets[i].id})}}'>Replace</a></li>
        <li><a href='{{=URL("defaultdataset",args=[datasets[i].id])}}'>Make Default</a></li>
        <li class="divider"></li>
        <li><a class="color-red" onclick="if(confirm('Are you sure?')){window.location.href='{{=URL('deletedataset',args=[datasets[i].id])}}'};">Delete</a></li>
    </ul>
    </div>

<div class="modal fade" id="uforms{{=i}}" tabindex="-1" role="dialog" aria-labelledby="uforms{{=i}}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="uforms{{=i}}Label">Replace "{{=datasets[i].name}}"</h3>
</div>
<div class="modal-body">
    {{=uforms[i]}}
    You can upload files up to {{=quota}}MB.<br/>Send us a feedback form if you need to upload larger files.&nbsp;&nbsp;&nbsp;<br/><br/>
    {{=XML(FILE_SPECS)}}
    <br/>
</div>
</div>
</div>
</div>
</div>

{{pass}}
<a href="/{{=request.application}}/default/upload/{{=request.args[0]}}" class="btn btn-large btn-default">Add New File</a>


<div class="modal fade" id="newFileForm" tabindex="-1" role="dialog" aria-labelledby="newFileFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="newFileFormLabel">Add new file</h3>
</div>
<div class="modal-body">
{{=newfileform}}
    You can upload files up to {{=quota}}MB.<br/>Send us a feedback form if you need to upload larger files.&nbsp;&nbsp;&nbsp;<br/><br/>
{{=XML(FILE_SPECS)}}
</div>
</div>
</div>
</div>
</div>
          
        </div>
        <div class="col-lg-6">
          <h2>Users</h2>
          <small>Manage permissions and access</small>
          <hr>
          <div class="inline-block">
            {{asterisk = False}}
{{for a in admins:}}

<div class="btn-group">
  <a class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" href="#">
    {{=a.zadmin.first_name + " " + a.zadmin.last_name}}{{if a.viewonly:}}*{{asterisk=True}}{{pass}}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
  <li {{if a.zadmin.id == auth.user_id:}}class="disabled"{{pass}}><a tabindex="-1" href="{{if a.zadmin.id == auth.user_id:}}#{{else:}}/{{=request.application}}/default/editadmin/{{=portal.id}}/{{=a.id}}/viewonly{{pass}}">{{if a.viewonly:}}Allow User to Edit Page{{else:}}Set User to View Only{{pass}}</a></li>
    <li><a tabindex="-1" href="mailto:{{=a.zadmin.email}}" target="_blank">Contact via Email</a></li>
  <li class="divider"></li>
  <li {{if a.zadmin.id == auth.user_id:}}class="disabled"{{pass}}><a class="color-red" tabindex="-1" href="{{if a.zadmin.id == auth.user_id:}}#{{else:}}/{{=request.application}}/default/editadmin/{{=portal.id}}/{{=a.id}}/delete{{pass}}">Delete</a></li>
  </ul>
</div>


{{pass}}
<a href="/{{=request.application}}/default/adduser/{{=request.args[0]}}" class="btn btn-default btn-large" data-toggle="modal">Add User Or Create Link</a>
<a style="display:none" class="btn btn-default btn-large" data-toggle="modal" remote="/{{=request.application}}/default/message_all/{{=portal.id}}" data-target="#messageAll">Message all</a>
{{if asterisk:}}
<br/><br/><i>*This user can view the portal but is unable to edit it.</i>
{{pass}}

{{if len(admins) > 1:}}
<br/><br/><a href="mailto:{{=','.join([a.zadmin.email for a in admins])}}">Send email to all users</a>
{{pass}}
        </div>    
        </div>
        <div class="col-lg-12">
          <hr>
        </div>

      </section>




<style>
    td {display:block;}
</style>
<script language="javascript">
<!--
     $('input#name').attr("autocomplete","off");
 $('input#name').keyup(function() {
     $('input#url').val($('input#name').val().replace(/(\W)/g,"").toLowerCase());
        checkportal();
 });
    $('input#url').keyup(function() {
        checkportal();
    });
    $('<label for="restrictions"> Restrict access to this portal</label><br/><i>Only you and users you authorize can access this portal.</i>').insertAfter('input#restrictions');
    $("input[type='submit']").addClass('btn');
    $("input[type='submit']").addClass('btn-default');


    //http://forums.devshed.com/javascript-development-115/time-restraint-430177.html
    var count = 0;
    function checkportal()
    {
       count = count+1;
       setTimeout("checkportalGo("+count+")",200);
    }

    function checkportalGo(currCount)
    {
       if(currCount == count)
       {
          count = 0;
          ajax("/{{=request.application}}/default/checkportal?url="+$('input#url').val()+"&orig_url={{=portal.url}}",[],"checkportal")
       }
    }


    $("input[type='submit']").addClass('btn');
    $("input[type='submit']").addClass('btn-default');
    
    {{if request.vars.dialog=="manage":}}
    $(window).load(function () {
        $("#editModal").modal("show");
    });
    {{pass}}
    
    {{if request.vars.dialog=="access":}}
    $(window).load(function () {
        $("#addAdmin").modal("show");
    });
    {{pass}}

 //-->
</script>
