{{extend 'layout.html'}}
<h1>Edit portal</h1>
{{=form}}

<script language="javascript">
<!--
 $('<span style="padding-left:7px;">http://{{=request.env.http_host}}/</span>').insertBefore('input#portals_url');
 $('input#portals_url').width('100px');
 $('input#portals_name').attr("autocomplete","off");
 //-->
</script>
