{{extend 'telegraph.html'}}
<h1>Frequently asked questions</h1>
<b>What is Filtergraph?</b><br/>
Filtergraph is a web service that allows you to visualize your data interactively. By uploading your dataset, Filtergraph provides you with a custom URL (http://filtergraph.vanderbilt.edu/yourname) that you can use to create graphs and tables based on your data and share it with others.<br/>
<br/>
<b>How do I create a portal?</b><br/>
<ul>
<li>Create a user account</li>
<li>Give your portal a name and URL</li>
<li>Upload your dataset</li>
<li>Review your headers to make sure they have been interpreted correctly</li>
<li>Check to see if the portal works. If not, submit a feedback form</li>
</ul>
<br/>
<b>How big can my dataset be?</b><br/>
We can work with datasets up to 25 MB right away. If you need to work with a larger dataset, please fill out a feedback form.<br/>
<br/>
<b>Can a portal have more than one dataset?</b><br/>
Sure. After you have logged in, click on the portal then click on Add a New Dataset.<br/>
<br/>
<b>What are the guidelines for uploading a dataset?</b><br/>
<ul>
<li>All datasets are ASCII text only.</li>
<li>The first line of the dataset is always the header, which defines the &quot;short name&quot; of each column in the dataset. Headers are separated by by whitespace (one or more spaces or tabs) and can contain any character except double quotes (") and backslashes (\).</li>
<li>The rest of the lines contain the data, with each line as a separate data entry. Each column is separated by whitespace (one or more spaces or tabs).</li>
<li>Each line of data should have as many data elements as there are headers. If a line is missing one or more data elements, the dataset cannot be interpreted.</li>
<li>Any non-numeric value in a numeric column is treated as an unknown.</li>
<li>While short names in the dataset cannot have spaces, you can redefine them into longer names which can have spaces in them.</li>
<li>Dates are supported using the format &quotYYYYMMDD&quot.</li>
<li>The header line may optionally start with the # symbol for clarity and use in other programs.</li>
</ul>
<br/>
<b>Who wrote this?</b><br/>
Filtergraph was created by Dan Burger with help from Keivan Stassun, Joshua Pepper, Rob Siverd, Martin Paegert, and Nathan DeLee.<br/>
<br/>
<b>Why Filtergraph and not Excel?</b><br/>
While Excel and Filtergraph share many capabilities, Filtergraph allows you to keep your data in the cloud so it is easy to share it with others. The Filtergraph interface is much more convenient in producing charts and tables that matter to you.<br/>
<br/>
<b>Why Filtergraph and not other websites?</b><br/>
There are a number of websites like Filtergraph, but only Filtergraph allows you to produce custom portals based on your datasets.<br/>
<br/>
<b>How was this built?</b><br/>
A number of technologies were used, including Python, Web2py, Gnuplot, and Graphicsmagick.<br/>
<br/>
<b>Why Gnuplot?</b><br/>
We wanted a rendering engine that was well-supported and could produce graphs quickly. Gnuplot fits these characteristics.<br/>
