{{extend 'telegraph.html'}}

{{if request.vars.errorid:}}
{{if request.vars.errorid.count("hypatia") > 0:}}
<h2>Report an error for the Hypatia Catalog Database Website</h2>
{{elif request.vars.errorid.count("aavso") > 0:}}
<h2>Report an error for the AAVSO Target Tool</h2>
{{else:}}
<h2>Report an error</h2>
{{pass}}
{{else:}}
<h2>Submit feedback</h2>
{{pass}}

{{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>
{{else:}}

{{if auth.user_id:}}
{{name = form.vars.name or (auth.user.first_name + " " + auth.user.last_name)}}
{{email = form.vars.email or (auth.user.email)}}
{{else:}}
{{name = form.vars.name}}
{{email = form.vars.email}}
{{pass}}

{{=form.custom.begin}}
<div class="col-sm-6" style="padding-bottom:50px">
{{=formbuilder([
('name','Name','text',name,form.errors.get('name')),
('email','Email','email',email,form.errors.get('email')),
('errorid','Error code','text',form.vars.errorid or request.vars.errorid,form.errors.get('errorid')),
('zmessage','Your message','textbox',form.vars.zmessage,form.errors.get('zmessage')),
])}}
</div>
{{=form.custom.end}}

<div class="col-xs-12" style="padding-bottom:50px">
<i>You can also reach us at <b>{{=FG_MAILJET_FROM}}</b> or on Twitter <a href="http://twitter.com/filtergraph">@filtergraph</a>.</i>
</div>

<script>
{{if not request.vars.errorid:}}
$("#errorid_block").hide();
{{pass}}
</script>

{{pass}}
