{{formid=int(request.args[1])}}
For your reference, here are the first few lines of the file:<br/>
<br/>
<div class="well" style="word-wrap:break-word;max-width:800px"><pre>
{{for f in firstlines:}}{{=f}}{{pass}}
</pre></div>
<form id="{{=formid}}_form" class="">
  <p>What is the format of the file?</p>
  <div class="radio">
    <label for="{{=formid}}_format_csep">
      Comma-separated value (CSV)
      <input type="radio" name="{{=formid}}_format" id="{{=formid}}_format_csep" value="csep" aria-label="Comma-separated value (CSV)">
    </label>
  </div>
  <div class="radio">
    <label for="{{=formid}}_format_tsep">
      Tab-separated value (TSV)
      <input type="radio" name="{{=formid}}_format" id="{{=formid}}_format_tsep" value="tsep" aria-label="Tab-separated value (TSV)">
    </label>
  </div>
  <div class="radio">
    <label for="{{=formid}}_format_ssep">
      Space-separated value
      <input type="radio" name="{{=formid}}_format" id="{{=formid}}_format_ssep" value="ssep" aria-label="Space-separated value">
    </label>
  </div>
  <div class="radio">
    <label for="{{=formid}}_format_unsure">
      I'm not sure
      <input type="radio" name="{{=formid}}_format" id="{{=formid}}_format_unsure" value="unsure" aria-label="I don't know" checked="checked">
    </label>
  </div>
  <br/>
  <p>Where is the header?</p>
  {{for i in range(len(firstlines)-2):}}
  <div class="radio" style="max-width:800px">
    <label for="{{=formid}}_header_{{=i}}">
      <span style="font-family:monospace;word-wrap:break-word">{{=firstlines[i]}}</span>
      <input type="radio" name="{{=formid}}_header" id="{{=formid}}_header_{{=i}}" value="{{=i}}" aria-label="{{=firstlines[i]}}}">
    </label>
  </div>
  {{pass}}
  <div class="radio">
    <label for="{{=formid}}_header_none">
      There is no header
      <input type="radio" name="{{=formid}}_header" id="{{=formid}}_header_none" value="none" aria-label="There is no header">
    </label>
  </div>
  <div class="radio">
    <label for="{{=formid}}_header_other">
      Other: <input type="text" name="{{=formid}}_headertext" id="{{=formid}}_headertext">
      <input type="radio" name="{{=formid}}_header" id="{{=formid}}_header_other" value="other" aria-label="Other">
    </label>
  </div>
  <div class="radio">
    <label for="{{=formid}}_header_unsure">
      I'm not sure
      <input type="radio" name="{{=formid}}_header" id="{{=formid}}_header_unsure" value="unsure" aria-label="I'm not sure" checked="checked">
    </label>
  </div>
  <br/>
  <p>Where is the first line of data?</p>
  {{for i in range(len(firstlines)-1):}}
  <div class="radio" style="max-width:800px">
    <label for="{{=formid}}_data_{{=i}}">
      <span style="font-family:monospace;word-wrap:break-word">{{=firstlines[i]}}</span>
      <input type="radio" name="{{=formid}}_data" id="{{=formid}}_data_{{=i}}" value="{{=i}}" aria-label="{{=firstlines[i]}}}">
    </label>
  </div>
  {{pass}}
  <div class="radio">
    <label for="{{=formid}}_data_unsure">
      I'm not sure
      <input type="radio" name="{{=formid}}_data" id="{{=formid}}_data_unsure" value="unsure" aria-label="I'm not sure" checked="checked">
    </label>
  </div>
  <br/>
  <a class="btn btn-default" onclick="fix2({{=formid}},{{=dataset.id}})">Continue</a>
</form>