{{extend "telegraph.html"}}

{{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>
{{pass}}

<h2>Request username or password</h2>

You will receive an e-mail from <b>{{=FG_MAILJET_FROM}}</b>. 
If it does not show up in your inbox, please check your spam folder.
<br/><br/><br/>
{{=form.custom.begin}}
<div class="col-sm-6" style="padding-bottom:50px">
{{=formbuilder([
('user','Email or username','text',request.vars.user,form.errors.get('user')),
])}}
</div>
{{=form.custom.end}}
<br/><br/><br/>