{{extend "telegraph.html"}}

{{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>
{{pass}}

<h2>Reset password</h2>

Please do not use the same password that you use for other services!
<br/><br/><br/>
{{=form.custom.begin}}
<div class="col-sm-6" style="padding-bottom:50px">
{{=formbuilder([
('password','New password','password','',form.errors.get('password')),
('password_two','Verify password','password','',form.errors.get('password_two'))
])}}
</div>
{{=form.custom.end}}
<br/><br/><br/>