<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Filtergraph</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/filtergraph/static/_1.0.0/telegraph/app/styles/app.min.css">
        
        {{include 'web2py_ajax.html'}}
        
    </head>
    <body class='home'>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{if False:}}
<div class="alert alert-dismissible" role="alert" style="margin:0px;border-radius:0px;text-align:center">
  Help us make Filtergraph more secure. <a class="btn btn-default" href="https://{{=request.env.http_host.split(":")[0]}}{{=request.env.web2py_original_uri}}">Turn on HTTPS (beta)</a> <a class="btn btn-default" data-dismiss="alert">No thanks</a>
</div>
{{pass}}
        <nav class="navbar navbar-default" role="navigation" style="border:none">
          <div class="container container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#" style="padding-bottom:0px"><img src="/filtergraph/static/_1.0.0/frontpage/logo.png" alt="Filtergraph"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          
              
                        {{if auth.user_id:}}
              <ul class="nav navbar-nav  navbar-right">
                  <style>
                  a#logout:hover {
                      text-decoration:underline !important;
                  }
                  </style>
              <li class="pill"><div style="color:white;margin:14px;letter-spacing: 0.048em;font-weight:200">Logged in as <b>{{=auth.user.first_name}} {{=auth.user.last_name}}</b>. <a href="/{{=request.application}}/default/user/logout" style="color:white;" id="logout">(Not you?)</a></div></li>
              <li class="pill"><a href="/{{=request.application}}/default/portals" class="btn btn-primary">Manage your portals</a></li>
                  </ul>
        
        {{else:}}
        
  <ul class="nav navbar-nav  navbar-right">
                  {{if request.vars._next:}}
                  <li class="pill"><div style="color:white;margin:14px;letter-spacing: 0.048em;font-weight:200">To continue, please log in.</div></li>
              {{pass}}
                  
                  
                <li class="pill primary"><a href="/{{=request.application}}/default/user/register{{if request.vars._next:}}?_next={{=request.vars._next}}{{pass}}">Sign Up</a></li>
                <li class="pill"><a href="/{{=request.application}}/default/login{{if request.vars._next:}}?_next={{=request.vars._next}}{{pass}}">Sign In</a></li>
                </ul>
              
</div>
        
    {{pass}}
              
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


        <div class="welcome-panel gradient-fade">
            <div class="container">
                <header class="jumbotron lg-jumbotron">
                    <h1>You can't do this in Excel.</h1>
                    <p>Create stunning interactive data visualizations.</p>

                    <!-- <a class="btn btn-default-alt btn-hg" href="#">Get Started</a> -->
                    <a class="btn cta-btn" href="{{if auth.user_id:}}/{{=request.application}}/default/portals{{else:}}/{{=request.application}}/default/user/register{{pass}}">Get Started</a>
                </header>
            </div>
        </div>

        <!-- <hr class="grad-hr"> -->

        <section id='limitless' class="jumbotron text-center">
            <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 center-block'>
                <span data-icon='R' class='icon'></span>
                <h2>Limitless.</h2>
                <p>Powerful mathmatical functions provide endless ways to visualize your data</p>
            </div>
            <div class="divot"><img src="/{{=request.application}}/static/_1.0.0/telegraph/app/img/divot.png" alt=""></div>
            <div class="divot inverse"><img src="/{{=request.application}}/static/_1.0.0/telegraph/app/img/divot-inverse.png" alt=""></div>
        </section>



        <section id='intuitive' class="jumbotron text-center" style="background:-webkit-linear-gradient(left,#79ccf2, #9083bc) !important;background:-o-linear-gradient(right,#79ccf2, #9083bc) !important;background:-moz-linear-gradient(right,#79ccf2, #9083bc) !important;background: linear-gradient(to right,#79ccf2, #9083bc) !important;">
            <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 center-block'>
                <span data-icon='J' class='icon'></span>
                <h2>Intuitive.</h2>
                <p>Filtergraph's interface gets out of the way so you can get to work.</p>
            </div>
        </section>



        <section id='shareable' class="jumbotron text-center">
            <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 center-block'>
                <span data-icon='H' class='icon'></span>
                <h2>Shareable.</h2>
                <p>No large attachments. Simple URLs that others can use instantly.</p>
            </div>
            <div class="divot"><img src="/{{=request.application}}/static/_1.0.0/telegraph/app/img/divot.png" alt=""></div>
            <div class="divot inverse"><img src="/{{=request.application}}/static/_1.0.0/telegraph/app/img/divot-inverse.png" alt=""></div>
        </section>

        <section id="fast" class="jumbotron text-center" style="background:-webkit-linear-gradient(left,#42b574, #aece39) !important;background:-o-linear-gradient(right,#42b574, #aece39) !important;background:-moz-linear-gradient(right,#42b574, #aece39) !important;background: linear-gradient(to right,#42b574, #aece39) !important;">
            <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 center-block'>
                <span data-icon='P' class='icon'></span>
                <h2>Fast.</h2>
                <p>A workhorse designed to handle your data on the fly.</p>
            </div>
        </section>

        <section id="flexible" class="row-eq-height clearfix split-hero-wrapper">
            <div class='split-hero-img col-xs-12 col-sm-12 col-md-6 col-lg-6' style = "background-image: url('/filtergraph/static/_1.0.0/frontpage/image5.png') !important; backgroud-position: center center !important; background-repeat: no-repeat !important">
                <div class="title-wrap text-center">
                    <h2 class="title">Flexible</h2>
                </div>
            </div>
            <div class='split-hero-content col-xs-12 col-sm-12 col-md-6 col-lg-6'>
                <div class="col-lg-8 center-block">
                    <h4 class="title">Filtergraph supports a wide array of file types:</h4>
                    <ul>
                        <li>ASCII text files (space separated, comma separated, tab separated, and fixed length)</li>
                        <li>Microsoft Excel files (*.xls, *.xlsx)</li>
                        <li>SQLite files (*.sqlite)</li>
                        <li>VOTable files (*.vot, *.xml)</li>
                        <li>FITS files (*.fits)</li>
                        <li>IPAC files (*.tbl)</li>
                        <li>Numpy files (*.npy)</li>
                        <li>HDF5 files (*.h5)</li>
                    </ul>
                </div>
            </div>
        </section>


         <section id="interactive" class="row-eq-height clearfix split-hero-wrapper">
            <div class='split-hero-img col-lg-6 col-md-6 col-xs-12 col-md-push-6 col-lg-push-6 col-sm-12 '  style = "background-image: url('/filtergraph/static/_1.0.0/frontpage/image6.png') !important; backgroud-position: center center !important; background-repeat: no-repeat !important">
                <div class="title-wrap text-center">
                    <h2 class="title">Interactive</h2>
                </div>
            </div>
            <div class='split-hero-content col-md-pull-6 col-lg-pull-6 col-xs-12 col-sm-12 col-lg-6 col-md-6'>
                <div class="col-lg-8 center-block">
                    <h4 class="title">Generate scatter plots, histograms and tables:</h4>
                    <ul>
                        <li>Zoom by dragging on the graph</li>
                            <li>Rotate 3-D graphs to different angles</li>
                            <li>Filter data based on given criteria</li>
                            <li>Sort table data</li>
                            <li>Download to PNG, JPEG, GIF, PDF, PostScript, HTML, and ASCII</li>
                            <li>Share with others using simple URLs; no need to send out large attachments full of data</li>
                    </ul>
                </div>
            </div>
        </section>
        <hr class="grad-hr no-top-mar">

        <section id="start-graphing" class="jumbotron">
            <div class='col-xs-12 col-sm-8 col-md-8 col-lg-8 center-block text-center'>
                <h3>Ready to Start Graphing?</h3>
                <p>Filtergraph is used by over 1,000 people in 28 countries to empower large-scale projects such as the KELT-North and KELT-South ground-based telescopes, the Kepler, Spitzer and TESS space telescopes, and a soil collection project in Bangladesh.</p>
                <br>
                <a href="{{if auth.user_id:}}/{{=request.application}}/default/portals{{else:}}/{{=request.application}}/default/user/register{{pass}}" class="btn cta-btn">Get Started</a>
            </div>
        </section>

        <footer class="clearfix" id="site-footer">
        <div class="container">
            <div class="row">
                <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
                    <ul class="border-left list-highlights footer-list list-unstyled">
                        <li><a href="/filtergraph/help" target="_blank">Help</a></li>
                        <li><a href="/filtergraph/default/showcase">Showcase</a></li>
                        <li><a href="/filtergraph/default/credits">Credits</a></li>
                        <li><a href="/filtergraph/default/terms">Terms</a></li>
                        <li><a href="/filtergraph/default/feedback">Feedback</a></li>
                    </ul>
                </div>
                <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
                    <ul class="footer-list list-unstyled">
                        <li><a href="/filtergraph/help#create" target="_blank">Setting up a Portal</a></li>
                        <li><a href="/filtergraph/help#manage" target="_blank">Managing a Portal</a></li>
                        <li><a href="/filtergraph/help#use" target="_blank">Using a Portal</a></li>
                        <li><a href="/filtergraph/help#saveshare" target="_blank">Saving & Sharing</a></li>
                    </ul>
                </div>
                <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>

                    <ul class="footer-list list-unstyled">
                        <ul class="list-unstyled list-inline social-list">
                            <li><a href="http://www.facebook.com/filtergraph" target="_blank" data-icon='B'></a></li><!--Facebook-->
                            <li><a href="http://www.twitter.com/filtergraph" target="_blank" data-icon='C'></a></li><!--Twitter-->
                            <li><a href="http://www.youtube.com/filtergraph" target="_blank" data-icon='E'></a></li><!--YouTube-->
                            <li><a href="/filtergraph/default/feedback" target="_blank" data-icon='F'></a></li><!--Feedback-->
                        </ul>
                        <br>
                        <small class="serif">
                            © 2011-{{=request.now.year}} Vanderbilt University
                            <span class="break"></span>
                            Filtergraph is a project of the <a href="http://astro.phy.vanderbilt.edu/~vida/" target="_blank">Vanderbilt Initiative in Data-intensive Astrophysics</a> and the <a href="https://my.vanderbilt.edu/autismandinnovation/" target="_blank">Frist Center for Autism and Innovation</a>.
                            {{if request.controller == "default" and request.function=="index":}}<br/>Excel is a registered trademark of Microsoft Corporation{{pass}}
                        </small>
                    </ul>
                </div>
            </div>

        <script src="/filtergraph/static/_1.0.0/telegraph/bower_components/jquery/dist/jquery.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            {{if FG_GOOGLE_ANALYTICS:}} //{{#UA-42525552-1}}
            {{if auth.user_id:}}
            ga('create','{{=FG_GOOGLE_ANALYTICS}}',{ 'userId': '{{=auth.user_id}}' });ga('send','pageview');
            {{else:}}
            ga('create','{{=FG_GOOGLE_ANALYTICS}}');ga('send','pageview');
            {{pass}}
            {{pass}}
        </script>

        <script>
            {{if request.vars.username:}}
            $('#password').focus();
            {{else:}}
            $('#username').focus();
            {{pass}}
            
        </script>
        
        <script src="/{{=request.application}}/static/_1.0.0/telegraph/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <script src="/{{=request.application}}/static/_1.0.0/telegraph/app/scripts/min/main.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.js"></script>
        
    </body>
</html>
