{{extend 'layout.html'}}

{{if 'longnames' not in globals():}}{{longnames = {} }}{{pass}} 
{{if 'descriptions' not in globals():}}{{descriptions = {} }}{{pass}} 

{{if request.vars.source in ["addportal","editportal"]:}}

<h2>Inspecting the dataset</h2>
Filtergraph is inspecting the dataset. This may take a few minutes. Please be patient...
{{#http://forums.digitalpoint.com/showthread.php?t=740428}}
<script type="text/javascript">
$(function() {self.parent.location.href = "http://{{=request.env.http_host}}/{{=request.application}}/default/inspect/{{=request.args[0]}}?source=loadingscreen"})

</script>
{{else:}}

{{if request.vars.source=="loadingscreen" or (not status):}}
<h2>Does this look right to you? 
<a href="/{{=request.application}}/default/inspect/{{=request.args[0]}}?working=yes">Yes</a> 
<a href="/{{=request.application}}/default/inspect/{{=request.args[0]}}?working=no">No</a></h2>
<iframe src="{{=url}}" style="width:850px;height:400px;border:10px solid #008"> </iframe>
{{pass}}

{{if status == "yes":}}
<h2>You're all set! Click <a href="{{=url}}">here</a> to visit your portal.</h2>
<hr/>
{{pass}}

{{if status == "no":}}
<h2>Sorry to hear that. We'll take a look at it. Do you mind <a href="/{{=request.application}}/default/feedback">telling us</a> what's wrong?</h2>
<hr/>
{{pass}}

<h2>Header information</h2>
This dataset has {{=B(rows)}} rows and {{=B(cols)}} columns. Please make sure the information below is correct.
<table id="hor-minimalist-b">
<tr><th>Short name</th><th>Type</th><th>Minimum</th><th>Maximum</th><th>Length</th><th>Discrete types</th></tr>
{{for d in data:}}
<tr><td>{{=d[0]}}</td><td>{{=d[1]}}</td><td>{{=d[2]}}</td><td>{{=d[3]}}</td><td>{{=d[5]}} {{if d[1] in ["integer","decimal","date","datetime"]:}}digits{{else:}}characters{{pass}}</td><td>{{=", ".join(d[4])}}</td></tr>
{{pass}}
</table>

<br/>

<form method="post">
<h2>Header descriptions</h2>
You can associate a longer name and a description with each header. The longer name will appear throughout the portal along with its description.
<table id="hor-minimalist-b">
<tr><th>Short name</th><th>Long name</th><th>Description</th></tr>
{{for d in data:}}
<tr><td>{{=d[0]}}</td><td><input type="text" id="{{=d[0]}}_n" name="{{=d[0]}}_n" value="{{=longnames.get(d[0]) or ''}}"/></td><td><textarea id="{{=d[0]}}_d" name="{{=d[0]}}_d">{{=descriptions.get(d[0]) or ''}}</textarea></td></tr>
{{pass}}
</table>
<input type="hidden" id="change_headers" name="change_headers" value="on">
<input type="submit" value="Submit">
</form>

<!-- http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/ -->
<!-- http://stackoverflow.com/questions/1893751/how-to-prevent-line-break-in-a-column-of-a-table-cell-not-a-single-cell -->
<style>
#hor-minimalist-b
{
    background: #fff;
    border-collapse: collapse;
    border-width: 3px 10px;
    border-color: white;
    border-style: solid;
    text-align: left;
}
#hor-minimalist-b th
{
    padding: 10px 30px 10px 5px;
    border-bottom: 2px solid;
    text-align:left;
}
#hor-minimalist-b td
{
    border-bottom: 1px solid #eee;
    padding: 1px 30px 1px 5px;
}
</style>
{{pass}}
