{{extend "telegraph.html"}}

<div style="text-align:center">
<h2>Welcome back</h2>

<form class="form-inline" method="post" style="margin-top:24px">
                  {{if request.vars.private and dataset == "save and share":}}
                  <span style="color:white">This save and share page is password protected. To continue, please sign in or register.</span><br/>
                  {{elif request.vars.private:}}
                  <span style="color:white">The <b>{{=dataset.name}}</b> portal is password protected. To continue, please sign in or register.</span><br/>
            {{pass}}
                  {{if loginfail:}}
                  <div class="form-group">
                      
                  <button id="incorrect" type="button" class="btn btn-warning" onclick="$(this).hide()">Incorrect username or password.</button>
                      </div>
                  {{pass}}
                  
  <div class="form-group">
    <label class="sr-only" for="username">Username or email</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Username or email" value="{{=request.vars.username or ''}}">
  </div>
  <div class="form-group">
    <label class="sr-only" for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <div class="btn-group">
  <input type="submit" class="btn btn-primary" value="Sign In">
</div>
                        
</form>
<br/><br/><br/>
<a href="/filtergraph/default/user/register{{if request.vars._next:}}?_next={{=request.vars._next}}{{pass}}" class="btn btn-default">Create an account</a><br/><br/>
<a href="/filtergraph/default/forgot" class="btn btn-default">Forgot username or password?</a>
  <br/><br/><br/><br/><br/></div>
  
  <script>
            {{if request.vars.username:}}
            $('#password').focus();
            {{else:}}
            $('#username').focus();
            {{pass}}
            
        </script>