<!--http://stackoverflow.com/questions/1037839/how-to-force-link-from-iframe-to-be-opened-in-the-parent-window-->
<html>
<head>
<base target="_parent" />
</head>
<body style="margin:0px">
{{=form.custom.begin}}
<div style="display:none">
{{=form.custom.widget.name}}
{{=form.custom.widget.description}}
</div>
{{=form.custom.widget.file}}
{{=form.custom.submit}}
{{=form.custom.end}}
</body>
</html>
