{{extend 'layout.html'}}
<table>
<tr><td><img src="/tools/static/_1.0.0/images/chart_curve_large.png"></td><td>
<h3>{{=portal.name}}</h3>
http://{{=request.env.http_host}}/{{=portal.url}}<br/>
Admins: {{=", ".join([a.admin.first_name + " " + a.admin.last_name for a in admins])}}<br/>
<a href="/{{=portal.url}}" target="_blank">Go to portal</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/tools/default/edit_portal/{{=request.args[0]}}">Edit portal</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/tools/default/share/{{=request.args[0]}}">Add new admin</a><br/><br/></td></tr>

{{for dataset in datasets:}}
<tr><td><img src="/tools/static/_1.0.0/images/chart_bar_large.png"></td><td>
<h3>{{=dataset.name}}</h3>
{{if dataset.description != "":}}{{=dataset.description}}<br/>{{pass}}
<a href="/{{=portal.url}}?d={{=dataset.name}}" target="_blank">Go to dataset</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/tools/default/edit_dataset/{{=request.args[0]}}/{{=dataset.id}}">Edit dataset</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/tools/default/inspect/{{=dataset.id}}">Edit headers</a><br/>
<!--Upload a new dataset: <iframe src="/tools/default/mini_edit_dataset/{{=request.args[0]}}/{{=dataset.id}}" width="400" height="30" scrolling="no"></iframe>--><br/>
</td></tr>
{{pass}}

<tr><td><img src="/tools/static/_1.0.0/images/chart_bar_add.png"></td><td>
<h3><a href="/tools/default/add_new_dataset/{{=portal.id}}">Add a new dataset...</a></h3>
</td></tr>

</table>
