{{extend 'telegraph.html'}}

<style>
.nb-item { width:300px;border:1px solid #ddd;margin:8px;padding:8px;background:white;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; }
</style>




      <div class="section-header">
        <div class="clearfix">
          <div class="title-container left">
            <h4 class="title left">Your Portals</h4>
          </div>
          <div class="controls-container left">
            <a class="btn btn-default" href="/filtergraph/default/create">
              Create a New Portal
            </a>
          </div>

        </div>
      </div>

      <section class="section-main row">

          {{if len(portals_viewonly)+len(portals_editable) > 0:}}

        {{if len(portals_editable) > 0:}}

        {{for p in portals_editable:}}
<div class="col-sm-6 col-md-3">
          <div class="thumbnail thumbnail-tab" style="background-image: url('/{{=request.application}}/static/images/nothumb.png');">
            <img src="/{{=request.application}}/run/thumb_serve/{{=p.portal.id}}" alt="{{=p.portal.name}}" style="width:300px;height:200px">
              <a href="http://{{=request.env.http_host}}/{{=p.portal.url}}" target="_blank">
            <div class="caption caption-tab">
              <h5 class="title" >{{=p.portal.name}}</h5>
              <div class="btn-group caption-controls" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <a class="btn btn-default" href="http://{{=request.env.http_host}}/{{=p.portal.url}}" target="_blank"><span class="icon" data-icon="r"></span></a></button>
                </div>
                <div class="btn-group" role="group">
                    <a class="btn btn-default" href="/{{=request.application}}/default/editportal/{{=p.portal.id}}"><span class="icon" data-icon="o"></span></a></button>
                </div>
              </div>
            </div></a>
          </div>
        </div>
    {{pass}}
        {{pass}}

        {{if len(portals_viewonly) > 0:}}

        {{for p in portals_viewonly:}}
<div class="col-sm-6 col-md-3">
          <div class="thumbnail thumbnail-tab" style="background-image: url('/{{=request.application}}/static/images/nothumb.png');">
            <img src="/{{=request.application}}/run/thumb_serve/{{=p.portal.id}}" alt="{{=p.portal.name}} (view-only)" style="width:300px;height:200px">
              <a href="/{{=p.portal.url}}" target="_blank">
            <div class="caption caption-tab">
              <h5 class="title" >{{=p.portal.name}} (view-only)</h5>
              <div class="btn-group caption-controls" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <a class="btn btn-default" href="/{{=p.portal.url}}" target="_blank"><span class="icon" data-icon="r"></span></a></button>
                </div>
              </div>
            </div></a>
          </div>
        </div>
    {{pass}}
        {{pass}}

        {{else:}}
        <div id="no_portal" class="alert alert-info" role="alert" style="margin:8px">
  <strong>You have no portals.</strong> Click on "Create a New Portal" to get started.
</div>
        {{pass}}
          
      </section>
      
      <hr/>
      
      <div class="section-header">
        <div class="clearfix">
          <div class="title-container left">
            <h4 class="title left">Your Notebook</h4>
          </div>

        </div>
      </div>
      
      <div id="no_notebook" class="alert alert-info" role="alert" style="margin:8px">
  <strong>You have no notebook items.</strong> As you use Filtergraph, your notebook items will appear here.
</div>

<div id="nb-container" style=""></div>

<script style="text/javascript">

function add_nb_entry(id,desc,url,zuser,public,modified)
{
    $(container).append('<div class="nb-item" id="nb-item-%(id)s"><a href="/%(url)s"><img src="/{{=request.application}}/run/notebook_serve/%(id)s/%(modified)s" style="width:298px;height:198px;"/></a><br/><br/><span id="nb-A-%(id)s"><b>%(zuser)s made this notebook entry public.</b><br/></span><span id="nb-desc-%(id)s">%(desc)s</span><br/><br/><span id="nb-B-%(id)s"><div class="btn-group""><button class="btn btn-primary" onclick="nb_edit(%(id)s)">Edit</button><button class="btn btn-primary" onclick="nb_delete(%(id)s)">Delete</button></div><br/></span><span id="nb-C-%(id)s"><div class="btn-group"><button class="btn btn-primary" onclick="nb_public(%(id)s)">Make public</button><button class="btn btn-primary" onclick="nb_edit(%(id)s)">Edit</button><button class="btn btn-primary" onclick="nb_delete(%(id)s)">Delete</button></div><br/></span><span id="nb-D-%(id)s"><textarea rows="4" id="nb-textarea-%(id)s" name="nb-textarea-%(id)s" onkeydown="if(event.keyCode==13){nb_comment(%(id)s)}"></textarea></span><span id="nb-E-%(id)s"><div class="btn-group"><button class="btn btn-primary" onclick="nb_comment(%(id)s)">Leave comment</button><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button><ul class="dropdown-menu"><li><a tabindex="-1" onclick="nb_private(%(id)s)">Make private</a></li><li><a tabindex="-1" onclick="nb_edit(%(id)s)">Edit</a></li><li><a tabindex="-1" onclick="nb_delete(%(id)s)">Delete</a></li></ul></div><br/></span><div id="nb-F-%(id)s"><i>Login to post a comment.</i><br/></div><span id="nb-G-%(id)s"><div class="btn-group"><button class="btn btn-primary" onclick="nb_comment(%(id)s)">Leave comment</button><button class="btn btn-primary" onclick="nb_delete(%(id)s)">Delete</button></div></span><div id="nb-comments-%(id)s" style="padding-top:20px"></div></div>'.replace(/%\(zuser\)s/g, zuser).replace(/%\(id\)s/g, id).replace(/%\(desc\)s/g, desc).replace(/%\(url\)s/g, url).replace(/%\(modified\)s/g, modified));
    //A: public
    if(!(public == "True"))
    {
        $("#nb-A-"+id).hide();
    }
    //B: your post, guest
    if(!(zuser == "Guest"))
    {
        $("#nb-B-"+id).hide();
    }
    //C: your post, private, login
    if(!(zuser == "You" && public == "False"))
    {
        $("#nb-C-"+id).hide();
    }
    //D: always hidden at first
    if(!(false))
    {
        $("#nb-D-"+id).hide();
    }
    //E: your post, public, login
    if(!(zuser == "You" && public == "True"))
    {
        $("#nb-E-"+id).hide();
    }
    //F: other post, guest
    if(!("{{=auth.user_id}}" == "None" && zuser != "Guest"))
    {
        $("#nb-F-"+id).hide();
    }
    //G: other post, login
    if(!("{{=auth.user_id}}" != "None" && zuser != "You"))
    {
        $("#nb-G-"+id).hide();
    }
    msnry.reloadItems();
    msnry.layout();
    if(zuser == "Guest")
    {
        $("#add_nb_warning").show();
    }
    if(public == "False")
    {
        $("#nb-item-"+id).css("border","1px #ddd dotted");
    }
}

function nb_edit(id)
{
    var old_desc = $("#nb-desc-"+id).text();
    var new_text =prompt("Enter new description",old_desc);
    if(new_text != null)
    {
        ajax("/{{=request.application}}/run/nb_edit/"+id+"?text="+new_text,[],":eval");
		$.ajax({type: "POST", 
		        url: "/{{=request.application}}/run/nb_edit/"+id,
		        data: new_text,
		        success: function(msg) { eval(msg); } ,
		        error: function(msg) {
		        	alert("Could not edit description. Please try again later.");
		        }
		});
    }
}

function nb_delete(id)
{
    if(confirm('Delete this post?'))
    {
        ajax("/{{=request.application}}/run/nb_delete/"+id,[],":eval");
    }
}

function nb_public(id)
{
    ajax("/{{=request.application}}/run/nb_public/"+id,[],":eval");
}

function nb_private(id)
{
    ajax("/{{=request.application}}/run/nb_private/"+id,[],":eval");
}

function nb_comment(id)
{
    if($("#nb-D-"+id).css("display") == "inline")
    {
        $("#nb-D-"+id).hide();
        $("#nb-textarea-"+id).blur();
        if($("#nb-textarea-"+id).val() != "")
        {
            ajax("/{{=request.application}}/run/nb_comment/"+id,["nb-textarea-"+id],":eval");
            $("#nb-textarea-"+id).val("");
        }
    }
    else
    {
        $("#nb-D-"+id).show();
        $("#nb-textarea-"+id).focus();
    }
    msnry.layout();
}

function cmt_delete(id)
{
    if(confirm('Delete this comment?'))
    {
        ajax("/{{=request.application}}/run/cmt_delete/"+id,[],":eval");
    }
}

var container;
var msnry;

$(function() {
container = document.querySelector('#nb-container');
msnry = new Masonry(container);
    {{for i in range(len(notebook)):}}
    {{n = notebook[i]}}
    add_nb_entry({{=n.id}},"{{=n.description}}","{{=n.url}}","{{if n.zuser:}}{{if n.zuser == auth.user_id:}}You{{else:}}{{=n.zuser.first_name + ' ' + n.zuser.last_name}}{{pass}}{{else:}}Guest{{pass}}","{{=n.zpublic}}","{{=abs(hash(n.last_update))}}");
    $('#nb-comments-{{=n.id}}').html('{{for c in comments[i]:}}<span id="cmt_{{=c.id}}"><b>{{=c.zuser.first_name}} {{=c.zuser.last_name}}:</b> {{=c.description}} {{if  (auth.user_id in [c.zuser.id,c.nbentry.zuser.id]) or (n.portal.id in [p.portal.id for p in portals_editable]):}}<span class="icon" data-icon="c" title="Delete" style="cursor:pointer" onclick="cmt_delete({{=c.id}})"> </span>{{pass}}<br/></span>{{pass}}');
    {{pass}}
    msnry.layout();
    setInterval(function(){     
        if($('.nb-item').size()==0)
        {
            $("#no_notebook").show();
        }
        else
        {
            $("#no_notebook").hide();
        }
    }, 200);
});


</script>
