{{extend "basic.html"}}

<span data-icon='R' class='icon'></span>
<h3>The {{=portal.name}} portal is private</h3>
<br/>
{{if not auth.user_id:}}
<a href="/{{=request.application}}/default/user/login?_next={{=request.env.web2py_original_uri}}" class="btn cta-btn">Sign In</a>
<p>If you already have access to this portal.</p>
<br/>
{{pass}}
<a href="/{{=request.application}}/default/requestaccess?p={{=portal.url}}" class="btn cta-btn">Request access</a>
{{if auth.user_id:}}
<p>If you believe you should have access to this portal.</p>
{{else:}}
<p>If you don't already have access to this portal, but believe you should.</p>
{{pass}}