{{extend 'telegraph.html'}}
{{if "data" in globals():}}
<div class="section-header">
        <div class="clearfix">
          <div class="title-container left">
            <h4 class="title left"><a href="/{{=request.application}}/default/portals">Home</a> <span data-icon="x"></span> <a href="/{{=request.application}}/default/editportal/{{=portal.id}}">{{=portal.name}}</a> <span data-icon="x"></span>  {{=dataset.name}}</h4>
          </div>
          
          <div class="controls-container left">
            <a class="btn btn-default" href="/filtergraph/default/upload/{{=portal.id}}?replace={{=dataset.id}}&source=dataset">
              Replace File
            </a>
            <a class="btn btn-default" href="/filtergraph/default/defaultdataset/{{=dataset.id}}">
              Make Default File
            </a>
            <a class="btn btn-default" onclick="if(confirm('Are you sure?')){window.location.href='/filtergraph/default/deletedataset/{{=dataset.id}}'}">
              Delete File
            </a>
          </div>

          <div class="controls-container right">
            <a href="/{{=portal.url}}/{{=cleanurl(dataset.name)}}" class="right btn btn-primary right" role="button" target="_blank">Start Portal at Data File</a>
          </div>

        </div>
        <hr/>
        <p><a href="/{{=portal.url}}/{{=cleanurl(dataset.name)}}" target="_blank">{{if FG_HTTPS:}}https://{{else:}}http://{{pass}}{{=request.env.http_host}}/{{=portal.url}}/{{=cleanurl(dataset.name)}} </a></p>
      </div>
      <br/>
      
      {{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>
{{pass}}
      
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Your data file is ready!</h4>
      </div>
      <div class="modal-body">
        <p class="lead">Check to make sure this looks correct.</p>
        
        {{if "dups" in globals():}}
{{if len(dups) > 0:}}
<p><b>Note:</b> {{=prettylist2(dups)}}</p>
{{pass}}
{{pass}}

{{if "ignorelist" in globals():}}
{{if len(ignorelist) > 0:}}
<p><b>Note:</b> {{=prettylist(ignorelist)}}</p>
{{pass}}
{{pass}}

        <p>We found {{=len(data)}} rows and {{=len(data.dtype)}} columns in the data file.
        {{if len(data) > 10:}}Displaying the first 10 rows.{{pass}}</p>
    
        <p>It took us {{=time}} seconds to load the file.</p>
        
        <div style="width:100%;overflow-x:auto;overflow-y:hidden;background:white">
    <table class="table table-condensed table-striped">
    <thead>
        <tr>
            {{for name in data.dtype.names:}}
            <th>{{=name}}</th>
            {{pass}}
        </tr>
    </thead>
    <tbody>
        {{for i in range(min(len(data),10)):}}
        <tr>
            {{for cell in data[i]:}}
            <td>{{=cell}}</td>
            {{pass}}
        </tr>
        {{pass}}
    </tbody>
    </table>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--http://www.sycha.com/jquery-smooth-scrolling-internal-anchor-links
<div style="text-align:center">
<h5>Your page is now up and running at <a href="{{=url}}" target="_blank">{{=url}}</a>.</h5>
    <a href="#customize" class="scroll btn" style="font-weight:bold">Edit headers and customize this page</a>
    <a class="btn" onclick="$('#embed').toggle();">Embed to your site</a>
    {{=A(T("Done"), _href=URL('editportal',args=[portal.id]), _class='btn')}}
</div>

<script>
jQuery(document).ready(function($) {

	$(".scroll").click(function(event){
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
	});
    {{if request.vars.scrolldown and not request.vars.customize:}}$('html,body').animate({scrollTop:$('#customize').offset().top - 50}, 500);{{pass}}
});
</script>-->
<script>
jQuery(document).ready(function($) {
    {{if len(request.args)>1:}}$("#myModal").modal();{{pass}}
});
</script>
<a id="customize"></a>
<form id="customize_form" name="customize" method="post">
<legend>Customize this data file</legend>
<input type="hidden" id="customize_hidden" name="customize" value="true">
<dl class="dl-horizontal">
    <dt><label for="name"><b>Name:</b></label></dt><dd><input class="form-control" type="text" id="name" name="name" value="{{=dataset.name}}"></dd>
    <dt><label for="desc"><b>Description:</b></label></dt><dd><textarea class="form-control" id="desc" name="desc" style="width:300px;height:150px">{{=dataset.description or ''}}</textarea></dd>
    <dt><a id="columns"></a>Columns:</dt><dd>
    <span class="help-block">Filtergraph assigns a name by default based on what it finds within the file. You can change the name of each column to make it more descriptive. In addition, you can associate a longer description with each column.<br/><br/>
        <input type="button" class="btn btn-primary nourl" value="Set up a column with HTML links" onclick="$('.colinput').width(175);$('.url').show();$('.nourl').hide()">

        <span class="url" style="display:none">You can associate a custom URL with any column. When the value of the column is mentioned in the point info dialog box or the table view, it will redirect to the URL of your choice. Use any <b><i>default name</i></b> of a column in parentheses to include the value of the text.<br/><br/>
            For example: <b>http://www.google.com/?q=({{=data.dtype.names[0]}})</b> will open a Google search with the value of {{=data.dtype.names[0]}} inserted into the search bar, regardless of which column it is in.<br/><br/>
            Alternatively, if the value of a column starts with "http" it will turn into a hyperlink in the point info dialog box and the table view.</span></span>
<table class="table">
    <tr><th>Default name</th><th>Column name</th><th>Column description</th><th class="url" style="display:none">URL</th></tr>
{{for d in data.dtype.names:}}
    <tr><td><label for="{{=d}}_n">{{=d}}</label></td><td><input class="form-control colinput" type="text" id="{{=d}}_n" name="{{=d}}_n" value="{{=longnames.get(d) or d}}"/></td><td><input class="colinput form-control" type="text" id="{{=d}}_d" name="{{=d}}_d" value="{{=descriptions.get(d) or ''}}"/></td><td class="url" style="display:none"><input class="colinput form-control" type="text" id="{{=d}}_u" name="{{=d}}_h" value="{{=html_names.get(d) or ''}}"/></td></tr>
    {{longnames.pop(d,None)}}
    {{descriptions.pop(d,None)}}
    {{html_names.pop(d,None)}}
{{pass}}
{{if len(longnames) > 0:}}
<tr><td colspan="4"><b>These columns were in an earlier version of the file:</b></td></tr>
{{for d in longnames:}}
<tr><td><label for="{{=d}}_n">{{=d}}</label></td><td><input class="form-control colinput" type="text" id="{{=d}}_n" name="{{=d}}_n" value="{{=longnames.get(d) or d}}"/></td><td><input class="colinput form-control" type="text" id="{{=d}}_d" name="{{=d}}_d" value="{{=descriptions.get(d) or ''}}"/></td><td class="url" style="display:none"><input class="colinput form-control" type="text" id="{{=d}}_u" name="{{=d}}_h" value="{{=html_names.get(d) or ''}}"/></td></tr>
{{pass}}
{{pass}}
</table>
    </dd>
    <dt><label for="savestate"><b>Initial settings:</b></label></dt>
    <dd><span class="help-block"><a class="btn btn-primary" href="{{=url}}{{if "?" in url:}}&{{else:}}?{{pass}}initsettings=true" target="_blank">Click here to set initial settings</a><!--<br/><br/>Alternatively, you can change the default settings by entering a save-and-share link from your data file here.</span>
    <input type="text" id="savestate" name="savestate" placeholder="http://filtergraph.vanderbilt.edu/1234567" value="{{=settings.get('savestate') or ''}}">-->
    <label for="reset_savestate" class="checkbox"><input type="checkbox" id="reset_savestate" name="reset_savestate">Reset to defaults</label>
    </dd>
    <a id="lur"></a>
    {{if dataset.urlfeed:}}
    <dt><label for="urlfeed"><b>Live URL reloading:</b></label></dt>
    <dd><span class="help-block">Filtergraph can perform scheduled updates of the file by pulling data from <b>{{=dataset.urlfeed}}</b> every 24 hours. During scheduled updates, if Filtergraph is able to obtain and process the data, it will replace the current file. If the update fails, the current file will remain in place. Live URL reloading will continue as long as the data file has been accessed within the past 90 days.</span>
    <input type="button" id="lur_start" name="lur_start" class="btn btn-primary" value="Start live URL reloading" onclick="lur_start_clicked()" {{if dataset.lur_task:}}style="display:none"{{pass}}>
    <input type="button" id="lur_stop" name="lur_stop" class="btn btn-danger" value="Live URL reloading is active, click to stop" onclick="lur_stop_clicked()" {{if not dataset.lur_task:}}style="display:none"{{pass}}>
    <span id="lur_status" name="lur_status">Loading status...</span>
    </dd>
    {{else:}}
    <dt><label for="urlfeed"><b>Live URL reloading:<sup style="color:red">beta</sup></b></label></dt>
    <dd><span class="help-block">Filtergraph can perform scheduled updates of the file by pulling data from a given URL every 24 hours. During scheduled updates, if Filtergraph is able to obtain and process the data, it will replace the current file. If the update fails, the current file will remain in place. Live URL reloading will continue as long as the data file has been accessed within the past 90 days.<br/><br/>To get started, <a href="/filtergraph/default/upload/{{=portal.id}}?replace={{=dataset.id}}&source=dataset">replace this file</a> with one from a URL.</span>
    </dd>
    {{pass}}
    <br/><br/>
    <dt></dt><dd>
    <input type="submit" value="Submit" class="btn btn-default">
    </dd></dl>
    <br/><br/>
</form>
<div id="embed">

<h5>If you wish to embed this data file on your website, use the HTML code below.</h5>
<div class="well">
<pre>&lt;iframe src="{{=url}}" style="width:850px;height:400px;border:13px solid #f9f9f9"&gt;&lt;/iframe&gt;</pre>
</div>
</div>

{{if dataset.urlfeed:}}
<script>
function lur_start_clicked()
{
    ajax("/{{=request.application}}/lur/start/{{=dataset.id}}",[],':eval');
}
function lur_stop_clicked()
{
    ajax("/{{=request.application}}/lur/stop/{{=dataset.id}}",[],':eval');
}
function lur_status()
{
    ajax("/{{=request.application}}/lur/status/{{=dataset.id}}",[],'lur_status');
    setTimeout(lur_status,1000);
}
lur_status();
</script>
{{pass}}



{{if len(html_names)>0:}}
        <script>$('.colinput').width(175);$('.url').show();$('.nourl').hide();</script>
        {{pass}}

{{pass}}

{{if "error" in globals():}}
<h2>Error</h2>
{{=error}}<br/><br/>
{{if "tsvtest" in globals():}}
The following information below might be helpful to you. Note that headers are OK and Filtergraph should accept your file if it detects a header.<br/><br/>
<b>Number of columns per line if this were tab-separated:</b> {{=", ".join([str(i) for i in tsvtest])}}<br/><br/>
{{pass}}
{{if "csvtest" in globals():}}
<b>Number of columns per line if this were comma-separated:</b> {{=", ".join([str(i) for i in csvtest])}}<br/><br/>
{{pass}}
{{if "asciitest" in globals():}}
<b>Number of columns per line if this were space-separated:</b> {{=", ".join([str(i) for i in asciitest])}}<br/><br/>
{{pass}}
{{if "lengths" in globals():}}
<b>Length of each line:</b> {{=", ".join([str(i) for i in lengths])}}<br/><br/>
{{pass}}
{{=A(T("Done"), _href=URL('editportal',args=[portal.id]), _class='btn',
     _style='margin-top: 1em;')}}
{{pass}}

{{if "fixed_length_start" in globals():}}
<h2>Looks like a fixed length file</h2>
Here are the first rows of the file:
<style>
    td {
        border:1px solid black;
        font-family:monospace
    }
</style>
<div style="overflow-x:auto;overflow-y:hidden;">
<table>
{{for row in fixed_length_start:}}
<tr>
    {{for letter in row:}}
    {{if letter==" ":}}
    <td style="color:#CCC;background:#CCC">*</td>
    {{else:}}
    <td>
        {{=letter}}
    </td>
    {{pass}}
    {{pass}}
</tr>
{{pass}}
</table>
</div>
<br/>Enter the number of characters in each column, separated by a comma. The sum of all the numbers should be {{=fixed_length_sum}}.<br/><br/>
<form>
    <input type="text" name="fixedlength" class=""><br/>
<input type="submit" class="btn btn-default" value="Submit">
</form>
{{pass}}

{{if "multipletables" in globals():}}
<h2>This file has multiple sets of data</h2>
Please choose the one you would like to include in your portal:<br/><br/>
<form>
{{for d in multipletables:}}
<div style="background:#88FF88;padding:10px">
    <input type="radio" id="table_{{=d}}" name="table" value="table_{{=d}}"><label for="{{=d}}">{{=d}}</label>
    <div style="width:100%;overflow-x:scroll;overflow-y:hidden;background:white">
    <table>
        {{if hasattr(multipletables[d],"dtype"):}}
    <thead>
        <tr>
            {{for name in multipletables[d].dtype.names:}}
            <th>{{=name}}</th>
            {{pass}}
        </tr>
    </thead>
        {{pass}}
    <tbody>
        {{for i in range(min(len(multipletables[d]),10)):}}
        <tr>
            {{for cell in multipletables[d][i]:}}
            <td>{{=cell}}</td>
            {{pass}}
        </tr>
        {{pass}}
    </tbody>
    </table>
    </div>
</div>
<br/>
{{pass}}
<input type="submit" value="Submit" class="btn btn-default">
</form>
{{pass}}
