<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Filtergraph</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/filtergraph/static/_1.0.0/telegraph/app/styles/app.min.css">
        
        {{include 'web2py_ajax.html'}}
        
    </head>
    <body class='home'>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <hr class="grad-hr no-top-mar">

        <section id="start-graphing" class="jumbotron">
            <div class='col-xs-12 col-sm-8 col-md-8 col-lg-8 center-block text-center'>
            <h3>Request access</h3>

{{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>

{{else:}}

We will send a request to the manager of this portal, and you should receive an email from <b>{{=FG_MAILJET_FROM}}</b> if the request is approved.<br/><br/>

{{if auth.user_id:}}
<form class="form-inline" method="post">
  <input type="hidden" id="submit" name="submit" value="true">
  <button type="submit" class="btn btn-primary btn-lg">Submit request</button>
</form>
{{else:}}
<form class="form-inline" method="post">
  <div class="form-group">
    <label class="sr-only" for="name">Your name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Your name" style="width:200px">
  </div>
  <div class="form-group">
    <label class="sr-only" for="email">Your email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Your email" style="width:200px">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{{pass}}

{{pass}}
        </section>

        <footer class="clearfix" id="site-footer" style="background:white">
        <div class="container">
            <div class="row">
                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' style="text-align:center;">
                    <a class="btn btn-link" href="/" style="color:#42b574">Powered by Filtergraph™</a>
                    <a class="btn btn-link" href="/help" style="color:#42b574">Help</a>
                    <a class="btn btn-link" href="/terms" style="color:#42b574">Terms</a>
                    {{if auth.user_id:}}
                    <a class="btn btn-link" href="/filtergraph/default/user/logout" style="color:#42b574">Sign out</a>
                    {{pass}}
                    <br/><br/><br/>
                </div>
            </div>
        </div>
        </footer>

        <script src="/filtergraph/static/_1.0.0/telegraph/bower_components/jquery/dist/jquery.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            {{if FG_GOOGLE_ANALYTICS:}} //{{#UA-42525552-1}}
            {{if auth.user_id:}}
            ga('create','{{=FG_GOOGLE_ANALYTICS}}',{ 'userId': '{{=auth.user_id}}' });ga('send','pageview');
            {{else:}}
            ga('create','{{=FG_GOOGLE_ANALYTICS}}');ga('send','pageview');
            {{pass}}
            {{pass}}
        </script>

        <script>
            {{if request.vars.username:}}
            $('#password').focus();
            {{else:}}
            $('#username').focus();
            {{pass}}
            
        </script>
        
        <script src="/{{=request.application}}/static/_1.0.0/telegraph/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <script src="/{{=request.application}}/static/_1.0.0/telegraph/app/scripts/min/main.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.js"></script>
        
    </body>
</html>
