{{extend 'layout.html'}}
<h2>Share &quot;{{=portal.name}}&quot; with another user</h2>
Enter the user&#39;s e-mail address below. He or she must have a Filtergraph account to gain admin access to the portal.
<form method="post">
<input name="email">
<input type="submit">
</form>
