{{extend 'telegraph.html'}}

<h1>Filtergraph Showcase</h1>
<p class="lead">While Filtergraph was originally designed to meet the needs of professional astronomers, its powerful data visualization capabilities can be adapted to a wide variety of uses. Explore the examples below.<br/><br/></p>


<style>
.nb-item { width:300px;border:1px solid #ddd;margin:8px;padding:8px;background:white;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
</style>




<div id="nb-container" style=""></div>

<script style="text/javascript">

function add_nb_entry(id,desc,url,zuser,public)
{
    $(container).append('<div class="nb-item"><a href="/%(url)s" target="_blank"><img src="/{{=request.application}}/run/notebook_serve/%(id)s" alt="%(desc)s" style="width:298px;height:198px;"></a><div class="caption"><p>%(desc)s</p><p><a href="/%(url)s" class="btn btn-primary" role="button" target="_blank">View Example</a></p></div></div>'.replace(/%\(zuser\)s/g, zuser).replace(/%\(id\)s/g, id).replace(/%\(desc\)s/g, desc).replace(/%\(url\)s/g, url));
    //A: public
    if(!(public == "True"))
    {
        $("#nb-A-"+id).hide();
    }
    //B: your post, guest
    if(!(zuser == "Guest"))
    {
        $("#nb-B-"+id).hide();
    }
    //C: your post, private, login
    if(!(zuser == "You" && public == "False"))
    {
        $("#nb-C-"+id).hide();
    }
    //D: always hidden at first
    if(!(false))
    {
        $("#nb-D-"+id).hide();
    }
    //E: your post, public, login
    if(!(zuser == "You" && public == "True"))
    {
        $("#nb-E-"+id).hide();
    }
    //F: other post, guest
    if(!("{{=auth.user_id}}" == "None" && zuser != "Guest"))
    {
        $("#nb-F-"+id).hide();
    }
    //G: other post, login
    if(!("{{=auth.user_id}}" != "None" && zuser != "You"))
    {
        $("#nb-G-"+id).hide();
    }
    msnry.reloadItems();
    msnry.layout();
    if(zuser == "Guest")
    {
        $("#add_nb_warning").show();
    }
    if(public == "False")
    {
        $("#nb-item-"+id).css("border","1px #ddd dotted");
    }
}

function nb_edit(id,old_desc)
{
    ajax("/{{=request.application}}/run/nb_edit/"+id+"?text="+prompt("Enter new description",old_desc),[],":eval");
}

function nb_delete(id)
{
    if(confirm('Delete this post?'))
    {
        ajax("/{{=request.application}}/run/nb_delete/"+id,[],":eval");
    }
}

function nb_public(id)
{
    ajax("/{{=request.application}}/run/nb_public/"+id,[],":eval");
}

function nb_private(id)
{
    ajax("/{{=request.application}}/run/nb_private/"+id,[],":eval");
}

function nb_comment(id)
{
    if($("#nb-D-"+id).css("display") == "inline")
    {
        $("#nb-D-"+id).hide();
        $("#nb-textarea-"+id).blur();
        if($("#nb-textarea-"+id).val() != "")
        {
            ajax("/{{=request.application}}/run/nb_comment/"+id,["nb-textarea-"+id],":eval");
            $("#nb-textarea-"+id).val("");
        }
    }
    else
    {
        $("#nb-D-"+id).show();
        $("#nb-textarea-"+id).focus();
    }
    msnry.layout();
}

function cmt_delete(id)
{
    if(confirm('Delete this comment?'))
    {
        ajax("/{{=request.application}}/run/cmt_delete/"+id,[],":eval");
    }
}

var container;
var msnry;

$(function() {
container = document.querySelector('#nb-container');
msnry = new Masonry(container);
    {{for i in range(len(notebook)):}}
    {{n = notebook[i]}}
    add_nb_entry({{=n.id}},"{{=n.description}}","{{=n.url}}","{{if n.zuser:}}{{if n.zuser == auth.user_id:}}You{{else:}}{{=n.zuser.first_name + ' ' + n.zuser.last_name}}{{pass}}{{else:}}Guest{{pass}}","{{=n.zpublic}}");
    {{pass}}
    msnry.layout();
});


</script>