{{extend 'telegraph.html'}}

<div class="section-header">
        <div class="clearfix">
          <div class="title-container left">
            <h4 class="title left">Manage subscriptions</h4>
          </div>
        </div>
        <hr/>
      </div>
      
{{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>
{{pass}}

{{if subscription.noemail:}}
You have disabled emails to {{=subscription.email}}. To receive emails again, click the button below.<br/><br/>
<a href="?enable_email=True" class="btn btn-primary">Enable emails from Filtergraph</a><br/><br/><br/>
{{else:}}
To disable notifications from Filtergraph to {{=subscription.email}}, click the button below. We may still contact you if you leave us feedback or if there are any issues with your account.<br/><br/><a href="?disable_email=True" class="btn btn-primary">Disable all emails from Filtergraph</a><br/><br/><br/>
{{pass}}