{{extend 'telegraph.html'}}
<h2>Filtergraph Terms Of Use & Privacy Policy</h2>
<hr/>
<i>Last updated 2/10/2013</i><br/><br/>
<ol>
<li>We have no intention of claiming ownership over data uploaded to
Filtergraph. Your data is secure as our current infrastructure allows
it to be secure. Specifically:<br/>
- We do not have HTTPS capabilities at this time, therefore,
information sent to and from our server is unencrypted.<br/>
- Data files in our system are password protected and accessible only
to Filtergraph staff. However, it is not encrypted in the server,
therefore, it is technically possible for Filtergraph staff to access
your data.<br/>
- Our server is in a physically secure location at Vanderbilt University.
Since Filtergraph is in its early stages, we maintain the right to
access datasets for the purpose of quality control and data
restructuring.<br/>
</li><br/>
<li>By using our site you agree to release Vanderbilt University from
any liability over any data stored voluntarily to this site. Use at
your own risk.<br/>
</li><br/>
<li>While we try to keep Filtergraph up and running as much as
possible, the server may be prone to occasional outages.<br/>
</li><br/>
<li>We reserve the right to:<br/>
- monitor server traffic in aggregate for quality control purposes<br/>
- use third-party widgets including, but not limited to social media
plugins and web analytics tools. These widgets may or may not have
their own terms of use and privacy policies.<br/>
</li><br/>
<li>Users who abuse the features of the site may have their accounts
removed. Unacceptable behaviors include, but are not limited to:<br/>
- sharing usernames and passwords with others.<br/>
- accessing the site with the username and password with someone else<br/>
- accessing a portal designated as "private" without authorization<br/>
- causing intentional harm to the servers<br/>
You may use the built-in sharing function to allow more than one person to view or administer a portal.<br/>
<br/>
    <li>We may consider providing a standalone version of Filtergraph for users who would like more privacy and control over their data. If you are interested then please fill out a feedback form.<br/></li>
    <br/>
    <li>If you use Filtergraph in your published research, please include the following acknowledgement: "The research described in this paper makes use of Filtergraph, an online data visualization tool developed at Vanderbilt University through the Vanderbilt Initiative in Data-intensive Astrophysics (VIDA)"</li>
<br/>
<li>These terms may change at any time. We will provide a notice to
our users if we feel it is necessary to change our terms.
</li>
