{{extend 'telegraph.html'}}
<!-- ref: http://www.sitepoint.com/html5-file-drag-and-drop/ -->

<div class="section-header">
        <div class="clearfix">
          <div class="title-container left">
            <h4 class="title left"><a href="/{{=request.application}}/default/portals">Home</a> <span data-icon="x"></span> <a href="/{{=request.application}}/default/editportal/{{=portal.id}}">{{=portal.name}}</a> <span data-icon="x"></span> {{if dataset:}}<a href="/{{=request.application}}/default/readdataset/{{=dataset.id}}">{{=dataset.name}}</a> <span data-icon="x"></span> Replace file{{else:}}Select files to upload{{pass}}
          </div>
        </div>
        <hr/>
      </div>
      
{{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>
{{pass}}

{{if dataset:}}{{if dataset.lur_task:}}
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Live URL reloading for this file is on. If you replace this file, live URL reloading will be turned off.
</div>
{{pass}}{{pass}}

      	
        <form id="upload" action="/{{=request.application}}/default/fileservice" method="POST" enctype="multipart/form-data">

    <fieldset>
    
    <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
    
    
    
    <div>
    	<div id="filedrag" style="display:none">
    		<span class="btn btn-primary btn-file">
    	    	{{if request.vars.replace:}}Browse for a file{{else:}}Browse for files{{pass}} <input type="file" id="fileselect" name="fileselect[]" {{if not request.vars.replace:}}multiple="multiple"{{pass}} />
        	</span> 
        	
		<button type="button" class="btn btn-default" data-toggle="modal" onclick="$('#fileurl').val('');" data-target="#modal-sm">Enter URL</button>
		<button type="button" class="btn btn-default btn-med" data-toggle="modal" onclick="$('#filetext').val('');" data-target="#myModal">Enter text data</button>
		
		{{if request.vars.replace:}}or drop a file here{{else:}}or drop files here{{pass}}
		
		<br/><br/>
		<span style="font-weight:100">We accept a wide variety of data files, including ASCII and Microsoft Excel. {{if not request.vars.replace:}}If you select multiple files, Filtergraph will load them all at once. {{pass}}<a href="#filetips" data-toggle="modal">More info</a></span>
		
        </div>
    </div>

    
    
    <!-- Text area -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Enter text data</h4>
	      </div>
	      <div class="modal-body">
	      	Press {{if 'Macintosh' in request.env.http_user_agent:}}Command-V{{else:}}Control-V{{pass}} to paste from clipboard.<br/>
	        <textarea class="form-control" id="filetext" name="filetext"></textarea>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="text_load()">Submit</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- URL upload -->
	<div class="modal fade bs-example-modal-sm" id="modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	          <h4 class="modal-title" id="myModalLabel">Enter URL here</h4>
	        </div>
	        <div class="modal-body">
	          <input type="text" class="form-control" id="fileurl" name="fileurl"/>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="url_load()">Submit</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
    
    <br/>
    
    <div id="finishWarning" class="alert alert-info" role="alert" style="display:none">
  If this looks right to you, click the Finish button below to replace the file.
</div>
    
    <dl class="dl-horizontal" id="dl">
      
	</dl>
    
    </fieldset>
    
    </form>
    
    <div style="padding:20px">
    <dl class="dl-horizontal" id="finish" style="display:none">
      <dt></dt>
      {{if request.vars.replace:}}
      <dd><a class="btn btn-primary" onclick="replace_file()" id="finish_btn">Finish</a></dd>
      {{else:}}
      <dd><a class="btn btn-primary" href="{{if dataset and request.vars.source=='dataset':}}/{{=request.application}}/default/readdataset/{{=dataset.id}}{{else:}}/{{=request.application}}/default/editportal/{{=portal.id}}{{pass}}" id="finish_btn">Finish</a></dd>
      {{pass}}
    </dl>
    </div>
    
    
    
    <div id="progress" style="display:none"></div>
    
    <div id="messages" style="display:none">
    </div>
	
	
<div class="modal fade" id="filetips" tabindex="-1" role="dialog" aria-labelledby="filetipsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="filetipsLabel">Filtergraph file types</h4>
      </div>
      <div class="modal-body">
        {{=XML(FILE_SPECS)}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    

<style>
	/* Stylize the browse file button */
	/* ref: http://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button */
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    #filedrag
    {
    	display: none;
    	font-weight: bold;
    	text-align: center;
    	padding: 2em;
    	color: #555;
    	border: 2px dashed #555;
    	border-radius: 7px;
    	cursor: default;
    }
    
    #filedrag.hover
    {
    	color: #f00;
    	border-color: #f00;
    	border-style: solid;
    	box-shadow: inset 0 3px 4px #888;
    }
    #progress p
    {
    	display: block;
    	width: 240px;
    	padding: 2px 5px;
    	margin: 2px 0;
    	border: 1px inset #446;
    	border-radius: 5px;
    }
    #progress p.success
    {
    	background: #0c0 none 0 0 no-repeat;
    }
    
    #progress p.failed
    {
    	background: #c00 none 0 0 no-repeat;
    }
    
    /*http://stackoverflow.com/questions/2032652/how-do-i-get-an-html-text-area-with-monospaced-text-using-css*/
    textarea {
	  border:1px solid #999999;
	  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	}
</style>

<script>

function displayFinish() {
	if($("div.progress-bar").length > 0)
	{
		if($("div.progress-bar-warning").length == 0 & 
		   $("div.progress-bar").length == $("div.progress-bar-success").length + $("div.progress-bar-danger").length &
		   $("div.progress-bar").length != $("div.progress-bar-danger").length)
		{
			$("#finish").show();
			{{if request.vars.replace:}}$("#finishWarning").show();{{pass}}
		}
		else
		{
			$("#finish").hide();
			$("#finishWarning").hide();
		}
	}
	else
	{
		$("#finish").hide();
		$("#finishWarning").hide();
	}
	{{if request.vars.replace:}}
	if($("div.progress-bar").length == $("div.progress-bar-danger").length)
	{
		$("#filedrag").show();
	}
	else if($("div.progress-bar").length == 0)
	{
		$("#filedrag").show();
	}
	else
	{
		$("#filedrag").hide();
	}
	{{pass}}
}
setInterval(displayFinish,100);

$('#myModal').on('shown.bs.modal', function () {
  $('#filetext').focus()
});

$('#modal-sm').on('shown.bs.modal', function () {
  $('#fileurl').focus()
});

noClickFinish = true;
//http://stackoverflow.com/questions/895171/prevent-users-from-submitting-form-by-hitting-enter
$(document).ready(function() {
  $("#fileurl").keydown(function(event){
    if( (event.keyCode == 13)  ) {
      event.preventDefault();
      url_load();
      $('#modal-sm').modal('hide');
      return false;
    }
  });
  $(window).bind('beforeunload', function() {
        if(($("div.progress-bar-warning").length > 0 | 
		   $("div.progress-bar").length > $("div.progress-bar-success").length + $("div.progress-bar-danger").length + $("btn.fixedlength").length) & noClickFinish)
		{
            return 'There are changes to the server pending.';
        }
        {{if request.vars.replace:}}
        if(noClickFinish & $("div.progress-bar-success").length > 0)
        {
        	return 'Click "Finish" to replace the file.';
        }
        {{pass}}
  }); 
});

// getElementById
function $id(id) {
	return document.getElementById(id);
}

//
// output information
function Output(msg) {
	var m = $id("messages");
	m.innerHTML = msg + m.innerHTML;
}

// call initialization file
if (window.File && window.FileList && window.FileReader) {
	Init();
}

//
// initialize
function Init() {

    

	var fileselect = $id("fileselect"),
		filedrag = $id("filedrag"),
		submitbutton = $id("submitbutton");

	// file select
	fileselect.addEventListener("change", FileSelectHandler, false);

	// is XHR2 available?
	var xhr = new XMLHttpRequest();
	if (xhr.upload) {
	
		// file drop
		filedrag.addEventListener("dragover", FileDragHover, false);
		filedrag.addEventListener("dragleave", FileDragHover, false);
		filedrag.addEventListener("drop", FileSelectHandler, false);
		filedrag.style.display = "block";
		
		// remove submit button
		//submitbutton.style.display = "none";
	}

}

// file drag hover
function FileDragHover(e) {
	e.stopPropagation();
	e.preventDefault();
	e.target.className = (e.type == "dragover" ? "hover" : "");
}

var BYTES_PER_CHUNK = 1048576; // 1MB chunk sizes.
// file selection
function FileSelectHandler(e) {

	// cancel event and hover styling
	FileDragHover(e);

	// fetch FileList object
	var files = e.target.files || e.dataTransfer.files;

    // only one file at a time when replacing files
    {{if request.vars.replace:}}
    if(files.length > 1)
    {
    	alert("You can only choose one file at a time when replacing files.");
    	return;
    }
    {{pass}}
    
	// process all File objects
	for (var i = 0, f; f = files[i]; i++) {
		BuildUploadFile(f,$("dt").length);
		UploadFile(f,1,0,BYTES_PER_CHUNK,$("dt").length-1);
	}

}


function ParseFile(file) {

	//http://stackoverflow.com/questions/7853467/uploading-a-file-in-chunks-using-html5

    var SIZE = file.size;
    var start = 0;
    var end = BYTES_PER_CHUNK;
    var i = 1;
    BuildUploadFile(file,$("dt").length);
    while( start < SIZE ) {
        var chunk = file.slice(start, end);
        UploadFile(file,i,start,end,$("dt").length-1,-1);
        
        i++;
        start = end;
        end = start + BYTES_PER_CHUNK;
    }
	
}

function BuildUploadFile(file,fileid) 
{
	{{if request.vars.replace:}}
	// clear all green and yellow 
	$("div.progress-bar-success").parent().parent().parent().remove();
	$("div.progress-bar-warning").parent().parent().parent().remove();
	{{pass}}

     // create progress bar
	var o = $id("dl");
	var progressString = '<div class="well"><dt>%(file)s</dt><dd><div class="progress progress-striped active"><div id="bar_%(id)s" class="progress-bar progress-bar- progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div></div><span id="status_%(id)s">Uploading (0%)</span><br/><br/><span id="button_%(id)s"></span></dd></div>'.replace(/\%\(file\)s/g,file.name).replace(/\%\(id\)s/g,fileid);
	$("#dl").prepend(progressString);
}

function UploadFile(file,fseq,fstart,fend,fileid,did) {

	var xhr = new XMLHttpRequest();
	if (xhr.upload) {
		
		
		
		// progress bar
		xhr.upload.addEventListener("progress", function(e) {
			var pc = parseInt((e.loaded + fstart) / file.size * 100);
			var pcf = parseFloat((e.loaded + fstart) / file.size * 100);
			$("#bar_"+fileid).css("width",pcf+"%");
			$("#status_"+fileid).text("Uploading ("+pc+"%)");
		}, false);
		
		// file received/failed
		xhr.onreadystatechange = function(e) {
			if (xhr.readyState == 4) {
				if(xhr.status == 200)
				{
					if(xhr.responseText == "quota")
					{
						$("#bar_"+fileid).parent().removeClass("active");
						$("#bar_"+fileid).addClass("danger");
						$("#bar_"+fileid).addClass("progress-bar-danger");
						$("#status_"+fileid).text("File is too big. Try loading a smaller file.");
					}
					else
					{
						if(fstart+BYTES_PER_CHUNK > file.size)
						{
							$("#status_"+fileid).text("Processing the file...");
							$.ajax({type: "POST", 
							        url: "/{{=request.application}}/default/processservice/"+xhr.responseText+"/"+fileid,
							        success: function(msg) { eval(msg); } ,
							        error: function(msg) {
							        	$("#bar_"+fileid).parent().removeClass("active");
										$("#bar_"+fileid).addClass("danger");
										$("#bar_"+fileid).addClass("progress-bar-danger");
										$("#status_"+fileid).html("Error processing file. Try uploading the file in a different format.<br/><br/><a class='btn btn-default' onclick='report()'>Send report</a>");
							        }
							});
						}
						else
						{
							UploadFile(file,fseq+1,fend,fend+BYTES_PER_CHUNK,fileid,parseInt(xhr.responseText));
						}
					}
				}
				else
				{
					$("#bar_"+fileid).parent().removeClass("active");
					$("#bar_"+fileid).addClass("danger");
					$("#bar_"+fileid).addClass("progress-bar-danger");
					$("#status_"+fileid).html("An error occured while uploading the file. Please try again later.<br/><br/><a class='btn btn-default' onclick='report()'>Send report</a>");
				}
			}
		};
	    
	     // start upload
	     if(fseq == 1)
	     {
			xhr.open("POST", $id("upload").action, true);
			xhr.setRequestHeader("X_FILENAME", file.name.replace(/[^\x00-\x7F]/g,'?'));
			xhr.setRequestHeader("X_PORTAL", "{{=portal.id}}");
	     }
	     else
	     {
	     	xhr.open("POST", "/{{=request.application}}/default/chunkservice/"+did, true);
			xhr.setRequestHeader("X_CHUNK_SEQ", fseq);
	     }
	     //ref: http://stackoverflow.com/questions/1523686/timeout-xmlhttprequest
		xhr.timeout = 30000; // Set timeout to 30 seconds (30000 milliseconds)
		xhr.ontimeout = function () { 
			$("#bar_"+fileid).parent().addClass("active");
			$("#bar_"+fileid).removeClass("danger");
			$("#bar_"+fileid).removeClass("progress-bar-danger");
			$("#status_"+fileid).text("Waiting to reconnect...");
			setTimeout(function() {UploadFile(file,fseq,fstart,fend,fileid,did)},2000);
			return
		};
		xhr.send(file.slice(fstart,fend));
		$("#filedrag span.btn").html('{{if request.vars.replace:}}Browse for a file{{else:}}Browse for files{{pass}} <input type="file" id="fileselect" name="fileselect[]" {{if not request.vars.replace:}}multiple="multiple"{{pass}} />');
		$id("fileselect").addEventListener("change", FileSelectHandler, false);
			

	}


}

function choose_table(fileid,did,option)
{
	$("#bar_"+fileid).parent().addClass("active");
	$("#bar_"+fileid).removeClass("warning");
	$("#bar_"+fileid).removeClass("progress-bar-warning");
	$("#status_"+fileid).text("Processing the file...");
	$("#button_"+fileid).html("");
	$.ajax({type: "POST", 
	        url: "/{{=request.application}}/default/processservice/"+did+"/"+fileid+"/"+option,
	        success: function(msg) { eval(msg); } ,
	        error: function(msg) {
	        	$("#bar_"+fileid).parent().removeClass("active");
				$("#bar_"+fileid).addClass("danger");
				$("#bar_"+fileid).addClass("progress-bar-danger");
				$("#status_"+fileid).html("Error processing file. Try uploading the file in a different format.<br/><br/><a class='btn btn-default' onclick='report()'>Send report</a>");
	        }
	});
}

function check_queue(fileid,did,uuid)
{
	$.ajax({type: "POST", 
	        url: "/{{=request.application}}/default/processservice/"+did+"/"+fileid,
	        headers: { 'x-uuid': uuid } ,
	        success: function(msg) { eval(msg); } ,
	        error: function(msg) {
				$("#status_"+fileid).html("Waiting to reconnect...");
				setTimeout(function() {check_queue(fileid,did,uuid)},2000);
	        }
	});
}

function undo(fileid,did)
{
	$("#button_"+fileid).html("");
	$("#bar_"+fileid).parent().addClass("active");
	$("#bar_"+fileid).removeClass("success");
	$("#bar_"+fileid).removeClass("progress-bar-success");
	$("#status_"+fileid).text("Deleting file...");
	$.ajax({type: "POST", 
	        url: "/{{=request.application}}/default/deletedataset/"+did+"/undo",
	        success: function(msg) { 
	        	$("#bar_"+fileid).parent().parent().parent().remove();
	        } ,
	        error: function(msg) {
	        	$("#bar_"+fileid).parent().removeClass("active");
				$("#bar_"+fileid).addClass("danger");
				$("#bar_"+fileid).addClass("progress-bar-danger");
				$("#status_"+fileid).html("Could not delete file. Please try again later.<br/><br/><a class='btn btn-default' onclick='report()'>Send report</a>");
	        }
	});
}

function fix(fileid,did)
{
	$("#button_"+fileid).html("");
	$("#bar_"+fileid).parent().addClass("active");
	$("#bar_"+fileid).removeClass("success");
	$("#bar_"+fileid).removeClass("progress-bar-success");
	$("#status_"+fileid).text("Please wait...");
	$.ajax({type: "POST", 
	        url: "/{{=request.application}}/default/fix/"+did+"/"+fileid,
	        success: function(msg) { 
	        	$("#bar_"+fileid).parent().removeClass("active");
				$("#bar_"+fileid).addClass("warning");
				$("#bar_"+fileid).addClass("progress-bar-warning");
				$("#status_"+fileid).html(msg);
	        } ,
	        error: function(msg) {
	        	$("#bar_"+fileid).parent().removeClass("active");
				$("#bar_"+fileid).addClass("danger");
				$("#bar_"+fileid).addClass("progress-bar-danger");
				$("#status_"+fileid).html("Could not retreive file fix form.<br/><br/><a class='btn btn-default' onclick='report()'>Send report</a>");
	        }
	});
}

function fix2(fileid,did)
{
	$.ajax({type: "POST", 
	        url: "/{{=request.application}}/default/processservice/"+did+"/"+fileid,
	        headers: { 'x-fix': 'true',
	        		   'x-format': $('input:radio[name='+fileid+'_format]:checked').val(),
	        		   'x-header': $('input:radio[name='+fileid+'_header]:checked').val(),
	        		   'x-data': $('input:radio[name='+fileid+'_data]:checked').val(),
	        		   'x-headertext': $('#'+fileid+"_headertext").val()
	        } ,
	        success: function(msg) { eval(msg); } ,
	        error: function(msg) {
	        	$("#bar_"+fileid).parent().removeClass("active");
				$("#bar_"+fileid).addClass("danger");
				$("#bar_"+fileid).addClass("progress-bar-danger");
				$("#status_"+fileid).html("Error processing file. Try uploading the file in a different format.<br/><br/><a class='btn btn-default' onclick='report()'>Send report</a>");
	        }
	});
	$("#button_"+fileid).html("");
	$("#bar_"+fileid).parent().addClass("active");
	$("#bar_"+fileid).removeClass("warning");
	$("#bar_"+fileid).removeClass("progress-bar-warning");
	$("#status_"+fileid).text("Please wait...");
}

function report()
{
	var report = prompt("We're sorry your file didn't upload. Please let us know what went wrong so we can improve.");

	if (report != null) {
		$.ajax({type: "POST", 
		        url: "/{{=request.application}}/default/report?text="+report,
		        success: function(msg) { 
		        	alert("Thank you for your response.");
		        } ,
		        error: function(msg) {
		        	alert("We couldn't record your response. Please use the feedback link at the bottom of the page.");
		        }
		});
	}
}

function url_load()
{
    // create progress bar
	var o = $id("dl");
	var fileid = $("dt").length;
	var filename = $("#fileurl").val().split("/")
	if(filename[filename.length-1] == "")
	{
		filename = filename[filename.length-2]
	}
	else
	{
		filename = filename[filename.length-1]
	}
	//ref: http://meyerweb.com/eric/tools/dencoder/
	var unencoded = $("#fileurl").val()
	var fileurl = encodeURIComponent(unencoded).replace(/'/g,"%27").replace(/"/g,"%22");	
	if(fileurl.startsWith("http"))
	{
		//do nothing
	}
	else if(fileurl.startsWith("ftp"))
	{
		//do nothing
	}
	else if(fileurl.startsWith("https"))
	{
		//do nothing
	}
	else
	{
		fileurl = "http://" + fileurl
	}
	//alert(fileurl);
	var progressString = '<div class="well"><dt>%(file)s</dt><dd><div class="progress progress-striped active"><div id="bar_%(id)s" class="progress-bar progress-bar- progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div><span id="status_%(id)s">Receiving file from server...</span><br/><br/><span id="button_%(id)s"></span></dd></div>'.replace(/\%\(file\)s/g,filename).replace(/\%\(id\)s/g,fileid);
	$("#dl").prepend(progressString);
	$.ajax({type: "POST", 
	        url: "/{{=request.application}}/default/urlservice/"+{{=portal.id}}+"?url="+fileurl,
	        success: function(msg) { 
	        	    if(msg == "quota")
					{
						$("#bar_"+fileid).parent().removeClass("active");
						$("#bar_"+fileid).addClass("danger");
						$("#bar_"+fileid).addClass("progress-bar-danger");
						$("#status_"+fileid).text("File is too big. Try loading a smaller file.");
					}
					else
					{
		        	    $("#status_"+fileid).text("Processing the file...");
						$.ajax({type: "POST", 
						        url: "/{{=request.application}}/default/processservice/"+msg+"/"+fileid,
						        success: function(msg) { eval(msg); } ,
						        error: function(msg) {
						        	$("#bar_"+fileid).parent().removeClass("active");
									$("#bar_"+fileid).addClass("danger");
									$("#bar_"+fileid).addClass("progress-bar-danger");
									$("#status_"+fileid).html("Error processing file. Try uploading the file in a different format.<br/><br/><a class='btn btn-default' onclick='report()'>Send report</a>");
						        }
						});
					} } ,
	        error: function(msg) {
	        	$("#bar_"+fileid).parent().removeClass("active");
				$("#bar_"+fileid).addClass("danger");
				$("#bar_"+fileid).addClass("progress-bar-danger");
				$("#status_"+fileid).html("Error retrieving file from server. Try saving the file to disk, then uploading the file you saved.<br/><br/><a class='btn btn-default' onclick='report()'>Send report</a>");
	        }
	});
}

function text_load()
{
    // create progress bar
	var o = $id("dl");
	var fileid = $("dt").length;
	var filename = "data.txt"
	var progressString = '<div class="well"><dt>%(file)s</dt><dd><div class="progress progress-striped active"><div id="bar_%(id)s" class="progress-bar progress-bar- progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div><span id="status_%(id)s">Uploading text data...</span><br/><br/><span id="button_%(id)s"></span></dd></div>'.replace(/\%\(file\)s/g,filename).replace(/\%\(id\)s/g,fileid);
	$("#dl").prepend(progressString);
	$.ajax({type: "POST", 
	        url: "/{{=request.application}}/default/textservice/"+{{=portal.id}},
	        data: $("#filetext").val(),
	        success: function(msg) { 
	        	    if(msg == "quota")
					{
						$("#bar_"+fileid).parent().removeClass("active");
						$("#bar_"+fileid).addClass("danger");
						$("#bar_"+fileid).addClass("progress-bar-danger");
						$("#status_"+fileid).text("File is too big. Try loading a smaller file.");
					}
					else
					{
		        	    $("#status_"+fileid).text("Processing the file...");
						$.ajax({type: "POST", 
						        url: "/{{=request.application}}/default/processservice/"+msg+"/"+fileid,
						        success: function(msg) { eval(msg); } ,
						        error: function(msg) {
						        	$("#bar_"+fileid).parent().removeClass("active");
									$("#bar_"+fileid).addClass("danger");
									$("#bar_"+fileid).addClass("progress-bar-danger");
									$("#status_"+fileid).html("Error processing file. Try uploading the file in a different format.<br/><br/><a class='btn btn-default' onclick='report()'>Send report</a>");
						        }
						});
					} } ,
	        error: function(msg) {
	        	$("#bar_"+fileid).parent().removeClass("active");
				$("#bar_"+fileid).addClass("danger");
				$("#bar_"+fileid).addClass("progress-bar-danger");
				$("#status_"+fileid).html("Error uploading text data. Try a different uploading method.<br/><br/><a class='btn btn-default' onclick='report()'>Send report</a>");
	        }
	});
}

function replace_file()
{
	$("#button_"+last_fid).html("");
	$("#bar_"+last_fid).parent().addClass("active");
	$("#bar_"+last_fid).removeClass("success");
	$("#bar_"+last_fid).removeClass("progress-bar-success");
	$("#status_"+last_fid).text("Replacing the file...");
	$.ajax({type: "POST", 
	        url: "/{{=request.application}}/default/replace_file/{{=request.vars.replace}}/"+last_d,
	        success: function(msg) { 
	        	noClickFinish = false;
				//$("#status_"+last_fid).html("Finishing up...");
				{{if dataset and request.vars.source=='dataset':}}
				document.location.href = '/{{=request.application}}/default/readdataset/{{=dataset.id}}';
				{{else:}}
				document.location.href = '/{{=request.application}}/default/editportal/{{=portal.id}}';
				{{pass}}
	        } ,
	        error: function(msg) {
	        	$("#bar_"+last_fid).parent().removeClass("active");
				$("#bar_"+last_fid).addClass("danger");
				$("#bar_"+last_fid).addClass("progress-bar-danger");
				$("#status_"+last_fid).html("Could not replace file.<br/><br/><a class='btn btn-default' onclick='report()'>Send report</a>");
	        }
	});
}

var last_d = -1;
var last_fid = -1; 
</script>