{{extend 'telegraph.html'}}



<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>

{{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>
{{pass}}

<div id="web2py_user_form">
{{if request.args(0) in ['profile']:}}
<a href="/filtergraph/default/user/change_password" class="btn btn-default">Change password</a>
<br/><br/>

{{=form.custom.begin}}
<div class="col-sm-6" style="padding-bottom:50px">
{{=formbuilder([
('first_name','First name','text',request.vars.first_name or auth.user.first_name,form.errors.get('first_name')),
('last_name','Last name','text',request.vars.last_name or auth.user.last_name,form.errors.get('last_name')),
('email','Email','email',request.vars.email or auth.user.email,form.errors.get('email')),
('username','Username','text',request.vars.username or auth.user.username,form.errors.get('username')),
('noemail','Disable notifications from Filtergraph','checkbox',(request.vars.noemail or auth.user.noemail) and "checked" or "",form.errors.get('noemail')),
])}}
</div>
{{=form.custom.end}}

<br/><br/>
<div class="col-xs-12" style="padding-bottom:50px"><i>If you disable notifications, we may still contact you if you leave us feedback or if there are any issues with your account.</i></div>
<br/><br/><br/>
{{pass}}

{{if request.args(0) in ['change_password']:}}
Please do not use the same password that you use for other services!
<br/><br/><br/>

{{=form.custom.begin}}
<div class="col-sm-6" style="padding-bottom:50px">
{{=formbuilder([
('old_password','Old password','password','',form.errors.get('old_password')),
('new_password','New password','password','',form.errors.get('new_password')),
('new_password2','Verify password','password','',form.errors.get('new_password2'))
])}}
</div>
{{=form.custom.end}}
<br/><br/><br/>
{{pass}}

{{if request.args(0) in ['reset_password']:}}
Please do not use the same password that you use for other services!
<br/><br/><br/>
{{=form.custom.begin}}
<div class="col-sm-6" style="padding-bottom:50px">
{{=formbuilder([
('new_password','New password','password','',form.errors.get('new_password')),
('new_password2','Verify password','password','',form.errors.get('new_password2'))
])}}
</div>
{{=form.custom.end}}
<br/><br/><br/>
{{pass}}

{{if request.args(0) in ['retrieve_username']:}}
You will receive an e-mail from <b>info.filtergraph@gmail.com</b>. If if does not show up in your inbox, please check your spam folder.
<br/><br/><br/>
{{=form.custom.begin}}
<div class="col-sm-6" style="padding-bottom:50px">
{{=formbuilder([
('email','Email','email',request.vars.email,form.errors.get('email')),
])}}
</div>
{{=form.custom.end}}
<br/><br/><br/>
{{pass}}

{{if request.args(0) in ['request_reset_password']:}}
You will receive an e-mail from <b>info.filtergraph@gmail.com</b>. If if does not show up in your inbox, please check your spam folder.
<br/><br/><br/>
{{=form.custom.begin}}
<div class="col-sm-6" style="padding-bottom:50px">
{{=formbuilder([
('username','Username','text',request.vars.username,form.errors.get('username')),
])}}
</div>
{{=form.custom.end}}
<br/><br/>
<div class="col-xs-12"><i>If you forgot your username you can use <a href="retrieve_username">this form</a> to request it.</i></div>
<br/><br/><br/>
{{pass}}

{{if request.args(0) == "register" and not str(request.vars._next).endswith("admincode"):}}
        We accept a wide variety of data files, including ASCII and Microsoft Excel. <a href="#filetips" data-toggle="modal">More info</a><br/><br/>
<div class="modal fade" id="filetips" tabindex="-1" role="dialog" aria-labelledby="filetipsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="filetipsLabel">Filtergraph file types</h4>
      </div>
      <div class="modal-body">
        {{=XML(FILE_SPECS)}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{=form.custom.begin}}
<div class="col-sm-6" style="padding-bottom:50px">
{{=formbuilder([
('first_name','First name','text',request.vars.first_name,form.errors.get('first_name')),
('last_name','Last name','text',request.vars.last_name,form.errors.get('last_name')),
('email','Email','email',request.vars.email,form.errors.get('email')),
('username','Username','text',request.vars.username,form.errors.get('username')),
('password','Password','password','',form.errors.get('password')),
('password_two','Verify password','password','',form.errors.get('password_two')),
])}}
</div>
{{=form.custom.end}}
<br/><br/>
<div class="col-xs-12" style="padding-bottom:50px">
        <i>By signing up for Filtergraph you agree to the <a href="{{=URL('terms')}}" target="_blank">
            Filtergraph Terms of Use & Privacy Policy.</a></i></div>
{{pass}}
</div>
