{{left_sidebar_enabled = True}}
{{extend 'runlayout.html'}}

{{block left_sidebar}}
<h2>{{=dataset.name}}</h2>
{{if dataset.description and dataset.description != dataset.name:}}{{=dataset.description}}<br/>{{pass}}<i>{{=response.subtitle}}</i>
{{if request.vars.dataset=="eblmportal":}}<input type="button" value="More information..." onclick="more_info()">{{pass}}
<br/><br/>

<form action="table" target="_blank">
<table>

{{#Sort}}
<tr><td>Sort by:</td>
<td>
<input type="text" name="sort" id="sort" axis="axis" value="" onclick="$('#sort').autocomplete('search','')" onkeyup="text_field_key(event)"/>
</td></tr>
<tr><td>Order:</td><td><input type="checkbox" name="order" id="order" onclick="refresh(false)"> Reverse</td></tr>
<tr><td>Rows:</td><td><input type="text" name="rows" value="50" onkeyup="text_field_key(event)"></td></tr>
<tr><td>Format:</td><td>
    <select name="format" style="width:165px" onchange="refresh(false)">
    <option value="html">HTML</option>
    <option value="tab">ASCII, tab separated</option>
    <option value="comma">ASCII, comma separated</option>
    <option value="space">ASCII, space separated</option>
    </select>
</td></tr>
<tr><td>Download:</td><td>
<input type="button" name="download_button" onclick="$('#download').val('true');$('form').submit();$('#download').val('');" value="First rows">
<input type="button" name="download_all_button" onclick="$('#download').val('true');$('#allrows').val('true');$('form').submit();$('#download').val('');$('#allrows').val('');" value="All rows">
  <input type="hidden" id="download" name="download" value="">
  <input type="hidden" id="allrows" name="allrows" value="">
</td></tr>

</table>
<br/>
<table style="width:239px">
<tr>
<td style="background:#EFC" colspan="3"><b>Display this column <span id="reset_display" style="display:none">(<a style="cursor:pointer" onclick="reset_display()">clear</a>)</span></b></td>
</tr>
<tr>
<td style="background:#EFC"></td>
<td style="background:#CEF" colspan="2"><b>Set min/max bounds <span id="reset_bounds" style="display:none">(<a style="cursor:pointer" onclick="reset_bounds()">clear</a>)</span></b></td>
</tr>
{{for i in range(len(col_names)):}}
<tr>
<td style="background:#EFC;width:10px"><input type="checkbox" id="display_{{=i+1}}" name="display_{{=i+1}}" onclick="refresh(false);check_reset_display()" /></td>
<td style="background:#CEF;width:10px"><input type="checkbox" id="filter_{{=i+1}}" name="filter_{{=i+1}}" onclick="filter_click('{{=i+1}}');check_reset_bounds()"/></td>
<td style="">{{=col_names[i]}}</td>
</tr>
<tr style="display:none" id="filterrow_{{=i+1}}">
<td style="padding:0px" colspan="3"><input type="text" id="min_{{=i+1}}" name="min_{{=i+1}}" onkeyup="text_field_key(event)"> &lt;= x &lt;= <input type="text" id="max_{{=i+1}}" name="max_{{=i+1}}" onkeyup="text_field_key(event)"></td>
</tr>
{{pass}}
</table>

<input type="hidden" id="interactive" checked="checked">
<input type="hidden" name="p" value="{{=request.vars.p}}">
<input type="hidden" name="d" value="{{=request.vars.d or ""}}">

</form>

<style>
    input[axis] { width: 160px; }
    .ui-autocomplete {
        max-height: 400px;
        width: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall'
     */
    * html .ui-autocomplete {
        height: 400px;
        width: 200px;
    }
    </style>
<script>
    //$("#submitbutton").button()
    $(function() {
        var availableTagsPlusNone = [
            {value:"",label:"(None)",desc:""},
            {{for col in col_names:}}{value:"{{=col}}",label:"{{=col}}",desc:"{{=descriptions.get(col) or ""}}"},{{pass}}
        ];
        $( "#sort" ).autocomplete({
            source: availableTagsPlusNone,
            select: function(event, ui) {text_field_key(event)},
            minLength: 0
        })
        .data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.label + "<br><h6>" + item.desc + "</h6></a>" )
                .appendTo( ul );
        };
    });
    </script>

{{end}}

<div id="graph" class="a" style="overflow:auto">
<div style="width:100%; height:100%; overflow:auto">
<div style="text-align: left;vertical-align:top;">
<div id="graph_data"></div></div></div></div>

{{#<!-- Loading graphic: http://ajaxload.info/ -->}}
<div id="loading" style="display:none;"><div id="graph" class="a">
<div style="width:100%; height:100%; display:table;">
<div style="display:table-cell; vertical-align:middle;">
{{#http://www.w3schools.com/cssref/pr_class_position.asp}}
<div style="margin-left:auto; margin-right:auto; width:100px; padding:10px;
background: -moz-linear-gradient(top, white 0%, whiteSmoke 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,whiteSmoke));
background: -webkit-linear-gradient(top, white 0%,whiteSmoke 100%);
background: -o-linear-gradient(top, white 0%,whiteSmoke 100%);
background: -ms-linear-gradient(top, white 0%,whiteSmoke 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='whiteSmoke',GradientType=0 );
background: linear-gradient(top, white 0%,whiteSmoke 100%);
box-shadow: 0px 0px 10px #888;
-moz-box-shadow: 0px 0px 5px #888;
-webkit-box-shadow: 0px 0px 10px #888;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;"><img src="/{{=request.application}}/static/_1.0.0/images/ajax_loader.gif"><h3>Loading...</h3></div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
{{#http://forums.devshed.com/javascript-development-115/time-restraint-430177.html}}
var count = 0;
function text_field_key(event)
{
   {{#http://stackoverflow.com/questions/155188/trigger-button-click-with-javascript-on-enter-key-in-text-box}}
   if(event.keyCode == 13)
   {
       refresh(true);
   }
   else
   {
       count = count+1;
       setTimeout("refreshGo("+count+")",500);
   }
}
 
function refreshGo(currCount)
{
   if(currCount == count)
   {
      count = 0;
      refresh(false);
   }
} 

function refresh(buttonClicked)
{
    if($("#interactive").attr('checked')=="checked" || buttonClicked==true)
    {
        if(xhr != undefined)
        {
            xhr.abort();
        }
        
        try
        {
            $('#loading').show();
            $('.jcrop-holder > div').hide()
        }
        catch(e){}
        
        ajax('/{{=request.application}}/{{=request.controller}}/table',
        [{{for i in range(len(col_names)):}}'display_{{=i+1}}','min_{{=i+1}}','max_{{=i+1}}',{{pass}}'p','d','rows','sort','order','format'],
        'graph_data');
    }
}
refresh(true);

function filter_click(col)
{
    $('#filterrow_'+col).toggle();
    if($('#filterrow_'+col).is(':hidden'))
    {
        if($('#min_'+col).val()+$('#max_'+col).val()+"" != "")
        {
            $('#min_'+col).val('');
            $('#max_'+col).val('');
            if($("#interactive").attr('checked')=="checked")
            {
                refresh(false);
            }
        }
    }
}

function reset_display()
{
    for(var i=1; i<={{=len(col_names)}}; i++)
    {
        if($('#display_'+i.toString()).attr('checked') == 'checked')
        {
            $('#display_'+i.toString()).removeAttr('checked');
        }
    }
    refresh(false);
    $("#reset_display").hide();
}

function check_reset_display()
{
    var r = false;
    for(var i=1; i<={{=len(col_names)}}; i++)
    {
        if($('#display_'+i.toString()).attr('checked') == 'checked')
        {
            r = true;
        }
    }
    if(r)
    {
        $("#reset_display").show()
    }
    else
    {
        $("#reset_display").hide()
    }
}

function reset_bounds(col)
{
    var r = false;
    for(var i=1; i<={{=len(col_names)}}; i++)
    {
        col = i.toString();
        $('#filterrow_'+col).hide();
        $('#filter_'+col).removeAttr("checked");
        if($('#filterrow_'+col).is(':hidden'))
        {
            if($('#min_'+col).val()+$('#max_'+col).val()+"" != "")
            {
                r = true;
                $('#min_'+col).val('');
                $('#max_'+col).val('');
            }
        }
    }
    if(r)
    {
        refresh(false)
    }
    $("#reset_bounds").hide();
}

function check_reset_bounds()
{
    var r = false;
    for(var i=1; i<={{=len(col_names)}}; i++)
    {
        if($('#filter_'+i.toString()).attr('checked') == 'checked')
        {
            r = true;
        }
    }
    if(r)
    {
        $("#reset_bounds").show()
    }
    else
    {
        $("#reset_bounds").hide()
    }
}
</script>

<!-- http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/ -->
<!-- http://stackoverflow.com/questions/1893751/how-to-prevent-line-break-in-a-column-of-a-table-cell-not-a-single-cell -->
<style>
#hor-minimalist-b
{
    background: #fff;
    border-collapse: collapse;
    border-width: 3px 10px;
    border-color: white;
    border-style: solid;
    text-align: left;
}
#hor-minimalist-b th
{
    padding: 10px 30px 10px 5px;
    border-bottom: 2px solid;
    text-align:left;
}
#hor-minimalist-b td
{
    border-bottom: 1px solid #eee;
    padding: 1px 30px 1px 5px;
    white-space: nowrap;
}
</style>
