<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
      <![endif]-->

  <title>{{=response.title or request.application}}</title>

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','_1.0.0/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','_1.0.0/images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','_1.0.0/js/modernizr.custom.js')}}"></script>
  
  <!-- Google Fonts: http://www.google.com/webfonts 
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>-->

  <!-- include stylesheets -->
  {{  
  response.files.append(URL('static','_1.0.0/css/web2py.css'))
  response.files.append(URL('static','_1.0.0/css/12272013.bootstrap.min.css'))
  response.files.append(URL('static','_1.0.0/css/bootstrap-responsive.min.css'))
  response.files.append(URL('static','_1.0.0/web2py_bootstrap.css'))
  }}
  <style>
      .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: none;
    color: none;
}
    </style>

  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}

  <!-- uncomment here to load jquery-ui
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
       uncomment to load jquery-ui //-->
  <noscript><link href="{{=URL('static', '_1.0.0/css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  {{block head}}{{end}}
  
  <script>
var _prum = [['id', '53484a10abe53d27367b23c6'],
             ['mark', 'firstbyte', (new Date()).getTime()]];
(function() {
    var s = document.getElementsByTagName('script')[0]
      , p = document.createElement('script');
    p.async = 'async';
    p.src = '//rum-static.pingdom.net/prum.min.js';
    s.parentNode.insertBefore(p, s);
})();
</script>
    
  
</head>

<body>
  <!-- Navbar ================================================== -->
    <div class="navbar navbar-fixed-top" {{if request.function == "index" and request.controller == "default":}}style="display:none"{{pass}}>
    <div class="flash">{{=response.flash or ''}}</div>
        <div class="navbar-inner" style="background: #FFF;box-shadow: 0px 0px 10px #CCF;border: none;">
      <div class="container">
        <!-- the next tag is necessary for bootstrap menus, do not remove -->
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
	{{=response.logo or ''}}
        <div class="nav-collapse pull-right">
          <ul id="navbar" class="nav pull-right">{{='auth' in globals() and auth.navbar(mode="dropdown") or ''}}</ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div><!--/top navbar -->
  

  <div class="container">
    <!-- Masthead ================================================== -->
      <header class="mastheader row" id="header" {{if request.function == "index" and request.controller == "default":}}style="margin-top:0px"{{pass}}>
        <div class="span12">
            <div class="page-header" style="display:none">
                <h1>
                    {{=response.title or request.application}}
                    <small>{{=response.subtitle or ''}}</small>
                </h1>
            </div>
        </div>
    </header>

    <section id="main" class="main row">
        {{if left_sidebar_enabled:}}
        <div class="span3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}

        <div class="{{=middle_columns}}">
            {{block center}}
            {{from datetime import datetime}}
    {{if datetime.now() < datetime(2013,10,22,18,0,0) and not (request.function == "index" and request.controller == "default" and not auth.user_id):}}{{#>}}
    <div style="background:#FFC;padding:8px;border:1px solid #CC8;border-radius:6px">We'll be performing site maintenance within the next hour. We hope to finish up shortly. Thank you for your patience.</div><br/>{{pass}}
            
            {{include}}
            {{end}}
        </div>

        {{if right_sidebar_enabled:}}
        <div class="span3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}
    </section><!--/main-->

    <!-- Footer ================================================== -->
        <div class="row" {{if request.vars.private:}}style="display:none"{{pass}}>
        <footer class="footer span12" id="footer">
            
            <div class="footer-content">
                <div class="well" style="background-image: url(/{{=request.application}}/static/_1.0.0/images/filtergraph_logo_background_300.png),linear-gradient(to left, rgb(255, 255, 255), rgb(238, 238, 255));
background-repeat: no-repeat;
background-position: right bottom;">
                {{block footer}} <!-- this is default footer -->
                <div class="row">
                <div class="span2">
                	<ul class="nav nav-list">
                    <li class="nav-header">Help</li>
                    <li><a href="/wiki">Index</a></li>
                    <li><a href="/wiki/default/show/14">Setting up a portal</a></li>
                    <li><a href="/wiki/default/show/13">Managing a portal</a></li>
                    <li><a href="/wiki/default/show/15">Using a portal</a></li>
                    <li><a href="/wiki/default/show/16">Saving and sharing</a></li>
                    </ul>
                    <br/>
                </div>
                <div class="span2">
                    <ul class="nav nav-list">
                    <li class="nav-header">Follow us</li>
                    <li><a href="http://www.facebook.com/filtergraph">Facebook</a></li>
                    <li><a href="http://www.twitter.com/filtergraph">Twitter</a></li>
                    <li><a href="https://www.youtube.com/user/filtergraph">YouTube</a></li>
                    </ul>
                    <br/>
                </div>
                <div class="span2">
                    <ul class="nav nav-list">
                    <li class="nav-header">About us</li>
                    <li><a href="{{=URL('credits')}}">Credits</a></li>
                    <li><a href="{{=URL('terms')}}">Terms &amp; Privacy</a></li>
                    <li><a href="{{=URL('feedback')}}">Send feedback</a></li>
                    </ul>
                    <br/>
                </div>
                </div>
                
                {{end}}
                <div class="row">
                <div class="span12" style="margin-left:47px">
                    <small>&#169; 2011-{{=request.now.year}} Vanderbilt University. Site by Dan Burger.<br/>Filtergraph is a project of the <a href="http://www.vanderbilt.edu/AnS/physics/vida/">Vanderbilt Initiative in Data-intensive Astrophysics</a>. {{if request.controller=='default' and request.function=='index':}}<br/>Excel is a registered trademark of Microsoft Corporation.{{pass}}<br/></small>
                </div>
                </div>
            </div>
            </div>
            <br/><br/><br/>
        </footer>
        
    </div>

  </div> <!-- /container -->

  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','_1.0.0/js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','_1.0.0/js/web2py_bootstrap.js')}}"></script>
  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','_1.0.0/js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->
  
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. User ID: {{=auth.user_id}} -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        {{if FG_GOOGLE_ANALYTICS:}} //{{#UA-42525552-1}}
        {{if auth.user_id:}}
        ga('create','{{=FG_GOOGLE_ANALYTICS}}',{ 'userId': '{{=auth.user_id}}' });ga('send','pageview');
        {{else:}}
        ga('create','{{=FG_GOOGLE_ANALYTICS}}');ga('send','pageview');
        {{pass}}
        {{pass}}
    </script> 
  
    {{if request.application == "dev":}}
    <div style="position:fixed;right:120px;bottom:0;z-index:999"><a href="http://127.0.0.1:8000/admin/default/edit/{{=request.application}}/views/{{=request.controller}}/{{=request.function}}.html" target="_blank" class="btn">Edit view</a><a href="http://127.0.0.1:8000/admin/default/edit/{{=request.application}}/controllers/{{=request.controller}}.py" target="_blank" class="btn">Edit controller</a></div>
    {{pass}}
    
  <!--<script src="{{=URL('static','_1.0.0/js/share.js',vars=dict(static=URL('static','images')))}}"></script>-->
</body>
</html>
