<!DOCTYPE html>
<html lang="{{=T.accepted_language or 'en'}}" class="no-js"><!-- no-js need it for modernzr -->
  <head>
    
    <meta charset="utf-8" />        
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!--[if IE]><![endif]-->    
    <!-- Always force latest IE rendering engine 
     (even in intranet) & Chrome Frame 
     Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>{{=response.title or request.application}}</title>
    
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}" /> 
    
    <!-- Speaking of Google, don't forget to set your site up: 
     http://google.com/webmasters -->
    <meta name="google-site-verification" content="" />
    
    <!--  Mobile Viewport Fix
      j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
      device-width: Occupy full width of the screen in its current orientation
      initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
      maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
      -->
    <!--<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">-->
    
    <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
    <!-- http://www.w3.org/2005/10/howto-favicon -->
    <link rel="shortcut icon" href="{{=URL('static','_1.0.0/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','_1.0.0/images/favicon.png')}}">

    <!-- For the less-enabled mobile browsers like Opera Mini -->
    <!--<link rel="stylesheet" media="handheld" href="{{=URL('static','_1.0.0/css/handheld.css')}}">-->
    
    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="{{=URL('static','_1.0.0/js/modernizr.custom.js')}}"></script>
    
    {{#------  require CSS and JS files for this page (read info in base.css) ------}}
    {{response.files.append(URL('static','_1.0.0/css/base.css?v=3')) #http://markjaquith.wordpress.com/2009/05/04/force-css-changes-to-go-live-immediately/}}
    {{response.files.append(URL('static','_1.0.0/css/superfish.css?v=2'))}}
    {{response.files.append(URL('static','_1.0.0/js/superfish.js'))}}
    {{#------ include web2py specific js code (jquery, calendar, form stuff) ------}}
    {{include 'runweb2py_ajax.html'}}

    {{
    #using sidebars need to know what sidebar you want to use
    #prior of using it, because of static width size of content, you can use
    #left_sidebar, right_sidebar, both or none (False left and right)    
    left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
    if left_sidebar_enabled and right_sidebar_enabled: width_content='63%'
    #elif left_sidebar_enabled != right_sidebar_enabled: width_content='200px'
    else: width_content='100%'
      if left_sidebar_enabled: left_sidebar_style = 'style="position: fixed; display: block; top:0px; bottom:0px; box-shadow:none; -moz-box-shadow: none; -webkit-box-shadow:none; left: 0px;padding-right: 4px;overflow-y:scroll; word-wrap:break-word; width: 300px; overflow-x:hidden"'
    else: left_sidebar_style = 'style="display: none;"'
    if right_sidebar_enabled: right_sidebar_style = 'style="display: block;"'
    else: right_sidebar_style = 'style="display: none;"'
    style_content = 'style="width: %s"' % width_content
    }}
    
    <script>
var _prum = [['id', '53484a10abe53d27367b23c6'],
             ['mark', 'firstbyte', (new Date()).getTime()]];
(function() {
    var s = document.getElementsByTagName('script')[0]
      , p = document.createElement('script');
    p.async = 'async';
    p.src = '//rum-static.pingdom.net/prum.min.js';
    s.parentNode.insertBefore(p, s);
})();
</script>
    
    
  </head>
  
  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->  
  <!--[if lt IE 7 ]> <body class="ie6" style="overflow-x:hidden"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7" style="overflow-x:hidden"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8" style="overflow-x:hidden"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9" style="overflow-x:hidden"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body style="overflow-x:hidden"> <!--<![endif]-->
    
    <form id="myForm" name="myForm" method="post">
    
    <div class="noflash" style="display:none">{{=response.flash or ''}}</div> <!-- notification div -->
    
    <div id="container">                        
      
      <div id="wrapper" style="padding:0">        
    
    <div id="header"> <!-- header and login nav -->
      {{block header}} <!-- this is default header -->
      {{#try:}}{{#auth.navbar(action=URL('default','user'))}}{{#except:pass}}               
      <div style="clear: both;"></div><!-- Clear the divs -->
      {{end}}                                     
    </div><!-- header  -->
    
    <div id="page" style=""> <!-- Here my central body -->     

      {{if left_sidebar_enabled:}}
          <div id="left_sidebar" {{=XML(left_sidebar_style)}} >
            <div style="">
          {{block left_sidebar}}Content Left Sidebar{{end}}       
            </div>
          </div><!-- left_sidebar -->
      {{pass}}

      <!-- content -->
      <div id="content" {{=XML(style_content)}} >
        {{include}} 
      </div>
      <!-- content -->

      {{if right_sidebar_enabled:}}
          <div id="right_sidebar" {{=XML(right_sidebar_style)}} >
            <div style="padding: 12px 4px 4px 4px;">
              {{block right_sidebar}}Content Right Sidebar{{end}}
            </div>
      </div><!-- right_sidebar -->
          {{pass}}

        <!--http://twitter.github.io/bootstrap/javascript.html#modals-->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Alice in Wonderland</h4>
        </div>
        <div class="modal-body">
          <span id="popup_data"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Text area -->
	<div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="textModalLabel">Enter list here</h4>
	      </div>
	      <div class="modal-body">
	      	Press {{if 'Macintosh' in request.env.http_user_agent:}}Command-V{{else:}}Control-V{{pass}} to paste from clipboard.<br/>
	        <textarea class="form-control" id="list" name="list" maxlength="50000000"></textarea>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="text_load()">Submit</button>
	      </div>
	    </div>
	  </div>
	</div>

<!-- PDF export -->
	<div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="pdfModalLabel">PDF export settings</h4>
	      </div>
	      <div class="modal-body">
  <div class="radio">
    <label>
      US letter, landscape (11 x 8.5 inches)
      <input type="radio" name="pdftype" id="pdftype" value="letter" aria-label="Letter" checked="checked">
    </label>
  </div>
  <div class="radio">
    <label>
      A4, landscape (29.7 x 21.0 cm)
      <input type="radio" name="pdftype" id="pdftype" value="a4" aria-label="A4">
    </label>
  </div>
  <div class="radio">
    <label>
      Custom: <input type="text" id="pdfwidth" name="pdfwidth" onclick='$("input#pdftype[value=custom]").attr("checked","checked")' autocomplete="off"> by <input type="text" id="pdfheight" name="pdfheight" onclick='$("input#pdftype[value=custom]").attr("checked","checked")' autocomplete="off">
      <select id="pdfunits" name="pdfunits" onclick='$("input#pdftype[value=custom]").attr("checked","checked")'>
        <option value="inches">inches</option>
        <option value="cm">centimeters</option>
      </select>
      <input type="radio" name="pdftype" id="pdftype" value="custom" aria-label="Custom">
    </label>
  </div>

It may take a moment to generate your PDF file.
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#filetype').val('pdf');$('#download').val('true');$('form').submit();$('#download').val('');">Submit</button>
	      </div>
	    </div>
	  </div>
	</div>


      <div style="clear: both;"></div><!-- Clear the divs -->
      
    </div><!-- page -->                         
            
      </div><!-- wrapper -->
    </div><!-- container -->        
    
    <!--[if lt IE 7 ]>
    <script src="{{=URL('static','_1.0.0/js/dd_belatedpng.js')}}"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
    <![endif]-->
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        {{if FG_GOOGLE_ANALYTICS:}} //{{#UA-42525552-1}}
        {{if auth.user_id:}}
        ga('create','{{=FG_GOOGLE_ANALYTICS}}',{ 'userId': '{{=auth.user_id}}' });ga('send','pageview');
        {{else:}}
        ga('create','{{=FG_GOOGLE_ANALYTICS}}');ga('send','pageview');
        {{pass}}
        {{pass}}
    </script>   
  
  {{if request.application == "dev":}}
    <div style="position:fixed;right:120px;bottom:0;z-index:999"><a href="http://127.0.0.1:8000/admin/default/edit/{{=request.application}}/views/{{=request.controller}}/{{=request.function}}.html" target="_blank" class="btn">V</a><a href="http://127.0.0.1:8000/admin/default/edit/{{=request.application}}/controllers/{{=request.controller}}.py" target="_blank" class="btn">C</a></div>
    {{pass}}
  
  </form>
  </body>
</html>
