<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{{=response.title or request.application}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/filtergraph/static/_1.0.0/telegraph/app/styles/app.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.css">
        <link rel="stylesheet" href="/filtergraph/static/_1.0.0/telegraph/app/styles/docs.css">
        {{include 'web2py_ajax.html'}}
    </head>
    <body{{if request.controller == 'help':}} data-spy="scroll" data-target=".scrollspy"{{pass}}>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-default" role="navigation">
          <div class="container container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/{{if auth.user_id:}}filtergraph/default/portals{{pass}}" style="padding-bottom:0px"><img src="/filtergraph/static/_1.0.0/frontpage/logo.png" alt="Filtergraph"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav  navbar-right">
                {{if auth.user_id:}}
                <li class="pill"><a href="/filtergraph/default/portals">Dashboard</a></li>
                <li class="pill"><a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="border:none">
  {{=auth.user.first_name}} {{=auth.user.last_name}}<span data-icon="t"></span>
</a>
<ul class="dropdown-menu" role="menu" style="position:absolute;top:70px;">
    <li><a href="/filtergraph/default/user/profile">Edit Profile</a></li>
    <li role="presentation" class="divider"></li>
    <li><a href="/filtergraph/default/user/logout">Sign Out</a></li>
</ul></li>
                {{else:}}
                <li class="pill primary"><a href="/{{=request.application}}/default/user/register">Sign Up</a></li>
                <li class="pill"><a href="/{{=request.application}}/default/login">Sign In</a></li>
                {{pass}}
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


        <div class="container">
            <br/>
            {{include}}
            <br/><br/><br/>
        </div>

        <footer class="clearfix" id="site-footer">
        <div class="container">
            <div class="row">
                <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
                    <ul class="border-left list-highlights footer-list list-unstyled">
                        <li><a href="/filtergraph/help" target="_blank">Help</a></li>
                        <li><a href="/filtergraph/default/showcase">Showcase</a></li>
                        <li><a href="/filtergraph/default/credits">Credits</a></li>
                        <li><a href="/filtergraph/default/terms">Terms</a></li>
                        <li><a href="/filtergraph/default/feedback">Feedback</a></li>
                    </ul>
                </div>
                <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
                    <ul class="footer-list list-unstyled">
                        <li><a href="/filtergraph/help#create" target="_blank">Setting up a Portal</a></li>
                        <li><a href="/filtergraph/help#manage" target="_blank">Managing a Portal</a></li>
                        <li><a href="/filtergraph/help#use" target="_blank">Using a Portal</a></li>
                        <li><a href="/filtergraph/help#saveshare" target="_blank">Saving & Sharing</a></li>
                    </ul>
                </div>
                <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>

                    <ul class="footer-list list-unstyled">
                        <ul class="list-unstyled list-inline social-list">
                            <li><a href="http://www.facebook.com/filtergraph" target="_blank" data-icon='B'></a></li><!--Facebook-->
                            <li><a href="http://www.twitter.com/filtergraph" target="_blank" data-icon='C'></a></li><!--Twitter-->
                            <li><a href="http://www.youtube.com/filtergraph" target="_blank" data-icon='E'></a></li><!--YouTube-->
                            <li><a href="/filtergraph/default/feedback" target="_blank" data-icon='F'></a></li><!--Feedback-->
                        </ul>
                        <br>
                        <small class="serif">
                            © 2011-{{=request.now.year}} Vanderbilt University
                            <span class="break"></span>
                            Filtergraph is a project of the <a href="http://astro.phy.vanderbilt.edu/~vida/" target="_blank">Vanderbilt Initiative in Data-intensive Astrophysics</a> and the <a href="https://my.vanderbilt.edu/autismandinnovation/" target="_blank">Frist Center for Autism and Innovation</a>.
                            {{if request.controller == "default" and request.function=="index":}}<br/>Excel is a registered trademark of Microsoft Corporation{{pass}}
                        </small>
                    </ul>
                </div>
            </div>

        </div>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        {{if FG_GOOGLE_ANALYTICS:}} //{{#UA-42525552-1}}
        {{if auth.user_id:}}
        ga('create','{{=FG_GOOGLE_ANALYTICS}}',{ 'userId': '{{=auth.user_id}}' });ga('send','pageview');
        {{else:}}
        ga('create','{{=FG_GOOGLE_ANALYTICS}}');ga('send','pageview');
        {{pass}}
        {{pass}}
    </script> 

        <script src="/filtergraph/static/_1.0.0/telegraph/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/filtergraph/static/_1.0.0/telegraph/app/scripts/min/main.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.js"></script>
</body>
</html>
