{{extend 'telegraph.html'}}

<h2>Filtergraph internal dashboard</h2>

<h2>There are {{=users}} users of Filtergraph.</h2>

<h2>The disk is {{='%.1f' % used_pct}}% full. Old files are kept up to {{=days_to_delete}} days.</h2>
 
<h2>filtergraph.com</h2>
<h3>1-day: <a href="https://www.statuscake.com" title="Website Uptime Monitoring"><img src="https://www.statuscake.com/App/button/index.php?Track=KFCvXBMJOK&Days=1&Design=1" /></a>
7-day: <a href="https://www.statuscake.com" title="Website Uptime Monitoring"><img src="https://www.statuscake.com/App/button/index.php?Track=KFCvXBMJOK&Days=7&Design=1" /></a>
30-day: <a href="https://www.statuscake.com" title="Website Uptime Monitoring"><img src="https://www.statuscake.com/App/button/index.php?Track=KFCvXBMJOK&Days=30&Design=1" /></a></h3>
<h2>filtergraph.vanderbilt.edu redirect</h2>
<h3>1-day: <a href="https://www.statuscake.com" title="Website Uptime Monitoring"><img src="https://www.statuscake.com/App/button/index.php?Track=aY5guXUXR4&Days=1&Design=1" /></a>
7-day: <a href="https://www.statuscake.com" title="Website Uptime Monitoring"><img src="https://www.statuscake.com/App/button/index.php?Track=aY5guXUXR4&Days=7&Design=1" /></a>
30-day: <a href="https://www.statuscake.com" title="Website Uptime Monitoring"><img src="https://www.statuscake.com/App/button/index.php?Track=aY5guXUXR4&Days=30&Design=1" /></a></h3>

{{for name in names:}}
{{=name}}<br/>
{{pass}}