{{extend 'layout.html'}}

{{if not form:}}
<h1>Form submitted</h1>
You should receive an email with your results. If you do not hear back within 24 hours, please fill out a <a href="/tools/default/feedback">feedback form</a>.<br/>
{{else:}}

<h1>The SLoWPoKES Galactic Model</h1>
Text that briefly describes the model.<br/>
<br/>
<b>Which probabilities do you want to calculate?</b>
<form method="post">
<table>
<tr><td> <input type="radio" name="mode" value="t" id="mode_t" {{if not request.vars.mode or request.vars.mode == "t":}}checked="checked"{{pass}}>
<label for="mode_t">P<sub>f</sub> (Θ):</label></td>
<td><label for="mode_t" style="font-weight:normal">
Mean number of stars within Θ" of the binary candidate</label></td></tr>
<tr><td> <input type="radio" name="mode" value="td" id="mode_td" {{if request.vars.mode == "td":}}checked="checked"{{pass}}>
<label for="mode_td">P<sub>f</sub> (Θ,D):</label></td>
<td><label for="mode_td" style="font-weight:normal">
Mean number of stars within Θ" and matching distance</label></td></tr>
<tr><td> <input type="radio" name="mode" value="tm" id="mode_tm" {{if request.vars.mode == "tm":}}checked="checked"{{pass}}>
<label for="mode_tm">P<sub>f</sub> (Θ,μ):</label></td>
<td><label for="mode_tm" style="font-weight:normal">
Mean number of stars within Θ" and matching proper motions</label></td></tr>
<tr><td> <input type="radio" name="mode" value="tdm" id="mode_tdm" {{if request.vars.mode == "tdm":}}checked="checked"{{pass}}>
<label for="mode_tdm">P<sub>f</sub> (Θ,D,μ):</label></td>
<td><label for="mode_tdm" style="font-weight:normal">
Mean number of stars within Θ" and matching distance and proper motions
</label></td></tr>
<tr><td> <input type="radio" name="mode" value="tmr" id="mode_tmr" {{if request.vars.mode == "tmr":}}checked="checked"{{pass}}>
<label for="mode_tmr">P<sub>f</sub> (Θ,μ,RV):</label></td>
<td><label for="mode_tmr" style="font-weight:normal">
Mean number of stars within Θ" and matching proper motions and 
radial velocity</label></td></tr>
<tr><td> <input type="radio" name="mode" value="tdmr" id="mode_tdmr" {{if request.vars.mode == "tdmr":}}checked="checked"{{pass}}>
<label for="mode_tdmr">P<sub>f</sub> (Θ,D,μ,RV):</label></td>
<td><label for="mode_tdmr" style="font-weight:normal">
Mean number of stars within Θ" and matching distance, proper motions and 
radial velocity</label></td></tr>
<tr><td> <input type="radio" name="mode" value="all" id="mode_all" {{if request.vars.mode == "all":}}checked="checked"{{pass}}>
<label for="mode_all">All </td><td></td></tr>
</table>
<br/>
<b>System parameters</b> (include all checked parameters):
<style>input[type="text"] { width:100px; }</style>
<table>
<tr><td> <input type="checkbox" id="en_ra" name="en_ra" {{if len(request.vars)==0 or request.vars.en_ra:}}checked="checked"{{pass}}>
<label for="en_ra">Right Ascension (RA)</label></td>
<td> (degrees) </td><td> <input type="text" id="ra" name="ra" value="{{=request.vars.ra or ''}}"> </td><td>  </td><td>  </td><td>  </td></tr>
<tr><td> <input type="checkbox" id="en_dec" name="en_dec" {{if len(request.vars)==0 or request.vars.en_dec:}}checked="checked"{{pass}}>
<label for="en_dec">Declination (Dec)</label></td>
<td> (degrees) </td><td> <input type="text" id="dec" name="dec" value="{{=request.vars.dec or ''}}"> </td><td>  </td><td>  </td><td>  </td></tr>
<tr><td> <input type="checkbox" id="en_as" name="en_as" {{if len(request.vars)==0 or request.vars.en_as:}}checked="checked"{{pass}}>
<label for="en_as">Angular Separation (Θ)</label></td>
<td> (arcsec) </td><td> <input type="text" id="angsep" name="angsep" value="{{=request.vars.angsep or ''}}"> </td><td>  </td><td>  </td><td>  </td></tr>
<tr><td> <input type="checkbox" id="en_mcs" name="en_mcs" {{if len(request.vars)==0 or request.vars.en_mcs:}}checked="checked"{{pass}}>
<label for="en_mcs">No. of Monte Carlo Steps</label></td>
<td>  </td><td> <input type="text" id="mcs" name="mcs" value="{{=request.vars.mcs or '1.00E+04'}}"> </td><td>  </td><td>  </td><td>  </td></tr>
<tr><td> <input type="checkbox" id="en_dist" name="en_dist" {{if request.vars.en_dist:}}checked="checked"{{pass}}>
<label for="en_dist">Distance</label></td>
<td> (pc) </td><td> <input type="text" id="dist_p" name="dist_p" value="{{=request.vars.dist_p or ''}}"> </td><td>± <input type="text" id="dist_pe" name="dist_pe" value="{{=request.vars.dist_pe or ''}}"> </td><td> &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="dist_s" name="dist_s" value="{{=request.vars.dist_s or ''}}"> </td><td>± <input type="text" id="dist_se" name="dist_se" value="{{=request.vars.dist_se or ''}}"> </td></tr>
<tr><td> <input type="checkbox" id="en_pmra" name="en_pmra" {{if request.vars.en_pmra:}}checked="checked"{{pass}}> 
<label for="en_pmra">Proper motion in RA (pmRA)</label></td>
<td> (mas yr<sup>-1</sup>) </td><td> <input type="text" id="pmra_p" name="pmra_p" value="{{=request.vars.pmra_p or ''}}"> </td><td>± <input type="text" id="pmra_pe" name="pmra_pe" value="{{=request.vars.pmra_pe or ''}}"> </td><td> &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="pmra_s" name="pmra_s" value="{{=request.vars.pmra_s or ''}}"> </td><td>± <input type="text" id="pmra_se" name="pmra_se" value="{{=request.vars.pmra_se or ''}}"> </td></tr>
<tr><td> <input type="checkbox" id="en_pmdec" name="en_pmdec" {{if request.vars.en_pmdec:}}checked="checked"{{pass}}> 
<label for="en_pmdec">Proper motion in Dec (pmDEC)</label></td>
<td> (mas yr<sup>-1</sup>) </td><td> <input type="text" id="pmdec_p" name="pmdec_p" value="{{=request.vars.pmdec_p or ''}}"> </td><td>± <input type="text" id="pmdec_pe" name="pmdec_pe" value="{{=request.vars.pmdec_pe or ''}}"> </td><td> &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="pmdec_s" name="pmdec_s" value="{{=request.vars.pmdec_s or ''}}"> </td><td>± <input type="text" id="pmdec_se" name="pmdec_se" value="{{=request.vars.pmdec_se or ''}}"> </td></tr>
<tr><td> <input type="checkbox" id="en_rv" name="en_rv" {{if request.vars.en_rv:}}checked="checked"{{pass}}> 
<label for="en_rv">Radial velocity (RV)</label></td>
<td> (km s<sup>-1</sup>)  </td><td> <input type="text" id="rv_p" name="rv_p" value="{{=request.vars.rv_p or ''}}"> </td><td>± <input type="text" id="rv_pe" name="rv_pe" value="{{=request.vars.rv_pe or ''}}"> </td><td> &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="rv_s" name="rv_s" value="{{=request.vars.rv_s or ''}}"> </td><td>± <input type="text" id="rv_se" name="rv_se" value="{{=request.vars.rv_se or ''}}"> </td></tr>
</table>
<br/>
<table>
<tr><td><label for="email">E-mail:</label></td><td> <input type="text" id="email" name="e-mail" value="{{=request.vars.email or ''}}" style="width:250px"> </td></tr>
<tr><td></td><td>You will be notified by e-mail when the model is done. Estimated time: 2 hours for 1e5 Monte Carlo steps.</td></tr>
</table>

{{=form}}

</form>
{{pass}}
