{{extend 'layout.html'}}
<h2>Update TESS</h2>
<div class="alert alert-block alert-info">
    <h4>Take note:</h4>
    <ul>
        <li>Only users with full TESS admin privileges can access this page. TESS view-only users cannot access this page.</li>
        <li>Please refrain from updating the data during peak hours (9am-5pm Mon-Fri). If you need to update the data during these hours, send me an e-mail first.</li>
        <li>It may take up to 10 minutes to update the data. Please do not click 'stop' or 'refresh' while the data is updating.</li>
    </ul>
    </div>
<div class="pull-right">
    <a href="update?tessload=true" class="btn btn-large">Load data only (do not update)</a>
<a href="update?tessupdate=true" class="btn btn-large btn-danger">Update TESS data from file</a>
</div>
<br/><br/><br/>
{{=BEAUTIFY(response._vars)}}
