{{extend 'basic.html'}}

<span data-icon='R' class='icon'></span>

<h3>{{=message}}</h3>

{{if "details" in globals():}}<p>{{=XML(details)}}</p>{{pass}}
<br/>
{{if auth.user_id:}}<a class="btn cta-btn" href="/filtergraph/default/portals">Return to dashboard</a><br/><br/>{{pass}}
{{if not auth.user_id:}}<a class="btn cta-btn" href="/">Return to home page</a><br/><br/>{{pass}}
{{if errorid:}}
<a class="btn cta-btn" href="/feedback?errorid={{=errorid}}">Send us feedback</a><br/><br/>
<a class="btn btn-primary btn-lg" href="/admin/default/ticket/{{=errorid}}" style="background:white" target="_blank">View ticket</a>
{{pass}}