<h2 style="color:#69C;"><i>{{=status}}</i></h2>
<span style="color:#888;"><b>{{=details}}</b></span>
{{if button and action:}}
<br/><br/>
<a class="btn btn-default" {{if request.vars.invert_colors:}}style="color:#CCC;border-color:#CCC"{{pass}} onclick="{{=action}}">{{=button}}</a>
{{pass}}
<br/><br/>
<a class="btn btn-default" {{if request.vars.invert_colors:}}style="color:#CCC;border-color:#CCC"{{pass}} onclick="undo()">Undo the last change</a>
<script>
$("#loading").hide();
$("#thegraph").hide();
$("#status").html("");
$("#status2").html("");
$("#status3").html("");
$("#status4").html("");
if(reset_vars)
{
    $('#reset_zoom').show();
}
else
{
    $('#reset_zoom').hide();
}
$("#graph_container").css("background","");
</script>