<legend>Single-variable statistics</legend>
<table class="table table-condensed table-striped">
<tbody>
    <tr>
    <th></th>
    {{for i in range(len(stats)):}}
        <th>{{=stats[i]['Axis']}}<br/>{{=stats[i]['Name']}}</th>
    {{pass}}
    </tr>
    {{for o in order:}}
    <tr>
        <td>{{=o}}</td>
    {{for i in range(len(stats)):}}
        {{if type(stats[i][o]) != int:}}
    <td>{{="%g" % stats[i][o]}}</td>
        {{else:}}
    <td>{{=stats[i][o]}}</td>    
        {{pass}}
    {{pass}}
    </tr>
    {{pass}}
</tbody>    
</table>

{{if linreg:}}
<br/>
<br/>
<legend>Two-variable statistics</legend>
<table class="table table-condensed table-striped">
    <tr><td>Linear regression</td><td>y = {{=XML(linreg)}}</td></tr>
    <tr><td>Quadratic regression</td><td>y = {{=XML(quadreg)}}</td></tr>
    <tr><td>Cubic regression</td><td>y = {{=XML(cubicreg)}}</td></tr>
</table>
{{pass}}

{{if len(stats) >= 2:}}
<br/>
<br/>
<legend>Correlation matrix</legend>
<table class="table table-condensed">
<thead>
    <tr style="border:none">
    <th style="border:none"></th>
    {{for i in range(len(stats)):}}
        <th style="border:none">{{=stats[i]['Name']}}</th>
    {{pass}}
    </tr>
</thead>
<tbody>
    {{for i in range(len(stats)):}}
    <tr style="border:none">
        <th style="border:none;text-align:right">{{=stats[i]['Name']}}</th>
        {{for j in range(len(stats)):}}
        <td style="border:1px solid black;text-align:center">{{="%g" % coefmat[i][j]}}</td>
        {{pass}}
    </tr>
    {{pass}}
</tbody>
</table>
{{pass}}
