{{extend 'layout.html'}}
{{from gluon.tools import prettydate}}

<h2>Image merge tool</h2>

<p><b>This feature is in beta.</b> Contact <a href="http://my.vanderbilt.edu/danburger/contact">Dan Burger</a> with any questions or comments.</p>
<p>Enter the save and share links of each Filtergraph image you would like to merge. If you have a Filtergraph portal open on a separate tab or window, you can switch back here and insert the most recent image to the list with one click.</p>
<p>Only scatter plots and histograms are accepted (no tables).</p>
<ul>
    <li><b>Tile images:</b> Neatly arrange the images side-by-side. Returns a PNG file.</li>
    <li><b>Animate images:</b> Create a looping animation where each image is one frame. Returns a GIF file.</li>
    <li><b>Overlay images:</b> Stack the images one on top of each other. Images further down the list will be placed on the top of the stack. Returns a PNG file.</li>
    <li><b>Average images:</b> Blends all the images together. Returns a PNG file.</li>
</ul>
<div id="staterefresh"></div>

<br/>
{{=form}}
{{if image:}}
<img src="/{{=request.application}}/run/image_serve/{{=image}}" alt="" />
{{pass}}


<script>
    var load_time = "{{=request.now}}";
    //var queryno = 0;
function refresh_states()
    {
        //queryno += 1;
        //oldqueryno = queryno;
        //setTimeout (function () {if(queryno == oldqueryno) {$("#updatenotice").fadeIn(100);}},1000);
        $('#staterefresh').load('/{{=request.application}}/run/refresh_states',{'time':load_time});
    }

$(window).focus(function() {
    //$("#updatenotice").fadeIn(100);
    refresh_states();
});

$(function () {
    //$("#updatenotice").fadeIn(100);
    refresh_states();
});

</script>
