<!DOCTYPE html>
<html>
  <head>
  <title>{{=response.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  </head>
  <body>
  
  <div data-role="page">
  
  <div data-role="header"><h1>{{=dataset.name}}</h1></div>
  
  <div data-role="content">
  
  {{if "graph_name" in globals():}}
  <img src="/{{=request.application}}/static/_1.0.0/result/{{=graph_name}}" width="100%">
  {{else:}}
  {{if dataset.description:}}{{=dataset.description}}<br/>{{pass}}<i>{{=response.subtitle}}</i>
  <br/><br/>
  
  {{defaultx = request.vars.xaxis or col_names[0]}}
  {{defaulty = request.vars.yaxis or col_names[1]}}
  {{defaultc = request.vars.color or col_names[2]}}
  
  <form name="myForm">
  <label for="xaxis" class="select">X-axis:</label>
<select name="xaxis" id="xaxis">
{{for col in col_names:}}
   <option value="{{=col}}" {{if col==defaultx:}}selected="selected"{{pass}}>{{=col}}</option>
{{pass}}
</select>

<div class="ui-grid-c" axis="axis" style="display:none">
    <div class="ui-block-a"><input type="number" name="x_min_bound" id="x_min_bound" value="{{=request.vars.x_min_bound or ''}}" data-mini="true" /></div>
    <div class="ui-block-b" style="padding-top:0.5em">&nbsp;&nbsp;&nbsp;&nbsp;&lt;= x &lt;=</div>
    <div class="ui-block-c"><input type="number" name="x_max_bound" id="x_max_bound" value="{{=request.vars.x_max_bound or ''}}" data-mini="true" /></div>
</div><!-- /grid-a -->
<div label="label" style="display:none">
    <label for="xlabel">Label:</label>
    <input type="text" name="xlabel" id="xlabel" value="{{=request.vars.xlabel or ''}}"  />
</div>
<div scale="scale" style="display:none">
    <fieldset data-role="controlgroup" data-type="horizontal">
       <input type="checkbox" name="xaxis_log" id="xaxis_log" class="custom" />
       <label for="xaxis_log">Log scale</label>
       <input type="checkbox" name="xaxis_rev" id="xaxis_rev" class="custom" />
       <label for="xaxis_rev">Reverse</label>
    </fieldset>
</div>
    
<br/>
<label for="yaxis" class="select">Y-axis:</label>
<select name="yaxis" id="yaxis">
{{for col in col_names:}}
   <option value="{{=col}}" {{if col==defaulty:}}selected="selected"{{pass}}>{{=col}}</option>
{{pass}}
</select>

<div class="ui-grid-c" axis="axis" style="display:none">
    <div class="ui-block-a"><input type="number" name="y_min_bound" id="y_min_bound" value="{{=request.vars.y_min_bound or ''}}" data-mini="true" /></div>
    <div class="ui-block-b" style="padding-top:0.5em">&nbsp;&nbsp;&nbsp;&nbsp;&lt;= y &lt;=</div>
    <div class="ui-block-c"><input type="number" name="y_max_bound" id="y_max_bound" value="{{=request.vars.y_max_bound or ''}}" data-mini="true" /></div>
</div><!-- /grid-a -->
<div label="label" style="display:none">
    <label for="ylabel">Label:</label>
    <input type="text" name="ylabel" id="ylabel" value="{{=request.vars.ylabel or ''}}"  />
</div>
<div scale="scale" style="display:none">
    <fieldset data-role="controlgroup" data-type="horizontal">
       <input type="checkbox" name="xaxis_log" id="xaxis_log" class="custom" />
       <label for="xaxis_log">Log scale</label>
       <input type="checkbox" name="xaxis_rev" id="xaxis_rev" class="custom" />
       <label for="xaxis_rev">Reverse</label>
    </fieldset>
</div>

<br/>
<label for="color" class="select">Color:</label>
<select name="color" id="color">
<option value="">(None)</option>
{{for col in col_names:}}
   <option value="{{=col}}" {{if col==defaultc:}}selected="selected"{{pass}}>{{=col}}</option>
{{pass}}
</select>

<div class="ui-grid-c" axis="axis" style="display:none">
    <div class="ui-block-a"><input type="number" name="c_min_bound" id="c_min_bound" value="{{=request.vars.c_min_bound or ''}}" data-mini="true" /></div>
    <div class="ui-block-b" style="padding-top:0.5em">&nbsp;&nbsp;&nbsp;&nbsp;&lt;= c &lt;=</div>
    <div class="ui-block-c"><input type="number" name="c_max_bound" id="c_max_bound" value="{{=request.vars.c_max_bound or ''}}" data-mini="true" /></div>
</div><!-- /grid-a -->
<div label="label" style="display:none">
    <label for="clabel">Label:</label>
    <input type="text" name="clabel" id="clabel" value="{{=request.vars.clabel or ''}}"  />
</div>

<br>
<div label="label" style="display:none">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="{{=request.vars.title or ''}}"  />
</div>

<div more="more" style="display:none">
    <br/>
    <label for="point_size">Point size:</label>
    <input type="number" name="point_size" id="point_size" value="{{=request.vars.point_size or 10}}"  /><br/>
    <label for="point_type">Point type:</label>
    <select name="point_type">
    <option value="1" {{if settings.get('point_type') == "Plus symbol":}} selected="selected"{{pass}}>Plus symbol</option>
    <option value="3" {{if settings.get('point_type') == "Star symbol":}} selected="selected"{{pass}}>Star symbol</option>
    <option value="5" {{if settings.get('point_type') == "Square":}} selected="selected"{{pass}}>Square</option>
    <option value="0" {{if settings.get('point_type') == "Small dot":}} selected="selected"{{pass}}>Small dot</option>
    <option value="6" {{if settings.get('point_type') == "Open circle":}} selected="selected"{{pass}}>Open circle (slow)</option>
    <option value="7" {{if settings.get('point_type') == "Closed circle":}} selected="selected"{{pass}}>Closed circle (slower)</option>
    </select><br/>
    <label for="point_size">Colors:</label>
    <input type="checkbox" id="invert_colors" name="invert_colors"><label for="invert_colors">Invert colors</label>
</div>

<br/><br/>
<input type="hidden" name="p" value="{{=request.vars.p}}">
<input type="hidden" name="d" value="{{=request.vars.d or ''}}">
<input type="hidden" name="go" value="go">
<input type="submit" data-theme="e" value="Submit">
<div class="ui-grid-a">
    <div class="ui-block-a"><input type="checkbox" value="Bounds" id="bounds" onclick="$('div[axis]').toggle()"><label for="bounds">Bounds</label></div>
    <div class="ui-block-b"><input type="checkbox" value="Labels" id="labels" onclick="$('div[label]').toggle()"><label for="labels">Labels</label></div>
    <div class="ui-block-a"><input type="checkbox" value="Scales" id="scales" onclick="$('div[scale]').toggle()"><label for="scales">Scales</label></div>
    <div class="ui-block-b"><input type="checkbox" value="More..." id="more"  onclick="$('div[more]').toggle()"><label for="more">More...</label></div>
</div><!-- /grid-a -->

   </form>
   
   {{pass}}
  
  </div>
  
  <div data-role="footer"> 
    {{if "status" in globals():}}<h4>{{=status}}</h4>{{pass}}
    <h4>Powered by Delia Dashboard</h4> 
  </div> 
  
  </div>
  
  </body>
</html>
