{{#http://www.w3schools.com/html/html_links.asp}}

{{if len(result) > 0:}}

{{if nearby > 1 and request.vars.otype == "scatter":}}
<div class="alert alert-info">There are <b>{{=nearby}}</b> points close to where you clicked. Here's one of them. {{if globals().get("is_highlight") == True:}}This point is highlighted so it gets priority.{{pass}}</div>
{{pass}}

{{if nearby > 1 and request.vars.otype == "hist":}}
<div class="alert alert-info">There are <b>{{=nearby}}</b> points in the bin where you clicked. Here's one of them. {{if globals().get("is_highlight") == True:}}This point is highlighted so it gets priority.{{pass}}</div>
{{pass}}

{{if request.vars.p == "vlmbarchive":}}
{{ra = [i for i in range(len(col_names)) if col_names[i].lower().count("a (deg)") > 0][0]}}
{{dec = [i for i in range(len(col_names)) if col_names[i].lower().count("d (deg)") > 0][0]}}
{{name = [i for i in range(len(col_names)) if col_names[i].lower().count("name") > 0][0]}}
<h4>2MASS image for {{=result[name]}}</h4>
<div id="twomass_images"><img src="{{=request.application}}/static/_1.0.0/images/ajax-loader-small.gif"><br/>Loading image...<br/>This may take a minute.</div>
<script>ajax('/{{=request.application}}/slowpokes/get_images?ra={{=result[ra]}}&dec={{=result[dec]}}',[],'twomass_images')</script>
<a href="http://irsa.ipac.caltech.edu/cgi-bin/FinderChart/nph-finder?locstr={{=result[ra]}},{{=result[dec]}}&survey=2MASS" target="_blank">manual link</a>
{{pass}}

{{if request.vars.p == "eblmportal":}}
<img src="/{{=request.application}}/static/_1.0.0/result/{{=get_eblm_pic(result[5],result[4],result[3])}}" />
{{pass}}

{{if request.vars.p == "slowpokes":}}
{{ra = [i for i in range(len(col_names)) if col_names[i].lower().count("ra") > 0][0]}}
{{dec = [i for i in range(len(col_names)) if col_names[i].lower().count("dec") > 0][0]}}

{{if request.vars.d == "M dwarfs":}}
{{plate = [i for i in range(len(col_names)) if col_names[i].lower().count("plate") > 0][0]}}
{{mjd = [i for i in range(len(col_names)) if col_names[i].lower().count("mjd") > 0][0]}}
{{fiber = [i for i in range(len(col_names)) if col_names[i].lower().count("fiber") > 0][0]}}
{{pass}}

<table>
<tr>
<td><h4>SDSS gri composite</h4></td>
<td><h4>2MASS H-band</h4></td>
</tr>
<tr>
<td>
<img src="http://skyservice.pha.jhu.edu/DR8/ImgCutout/getjpeg.aspx?ra={{=result[ra]}}&dec={{=result[dec]}}&width=200&height=200" width="200" height="200" style="background-color:#888"/>
</td>
<td>
<div id="slw_images"><img src="{{=request.application}}/static/_1.0.0/images/ajax-loader-small.gif"><br/>Loading image...<br/>This may take a minute.</div>
<script>ajax('/{{=request.application}}/slowpokes/get_images?ra={{=result[ra]}}&dec={{=result[dec]}}',[],'slw_images')</script>
</td>
</tr>
<tr>
<td>
(<a href="http://skyservice.pha.jhu.edu/DR8/ImgCutout/getjpeg.aspx?ra={{=result[ra]}}&dec={{=result[dec]}}&width=200&height=200" target="_blank">manual link</a>)
</td>
<td>
(<a href="http://irsa.ipac.caltech.edu/cgi-bin/FinderChart/nph-finder?locstr={{=result[ra]}},{{=result[dec]}}&survey=SDSS&survey=2MASS" target="_blank">manual link</a>)
</td>
</tr>
</table>
{{if request.vars.d == "M dwarfs":}}
<br/>
<h4>SDSS spectrum</h4>
<div id="slw_spectrum"><img src="{{=request.application}}/static/_1.0.0/images/ajax-loader-small.gif"> Loading spectrum...</div>
<script>ajax('/{{=request.application}}/slowpokes/get_spectrum?plate={{=result[plate]}}&mjd={{=result[mjd]}}&fiber={{=result[fiber]}}',[],'slw_spectrum')</script>
(<a href="http://skyserver.sdss3.org/dr8/en/tools/explore/obj.asp?plate={{=result[plate]}}&mjd={{=result[mjd]}}&fiber={{=result[fiber]}}" target="_blank">manual link</a>)<br/>
{{pass}}
{{if request.vars.d == "wdm":}}
<br/>
<h4>SDSS spectrum</h4>
<div id="slw_spectrum"><img src="{{=request.application}}/static/_1.0.0/images/ajax-loader-small.gif"> Loading spectrum...</div>
<script>ajax('/{{=request.application}}/slowpokes/get_spectrum?ra={{=result[ra]}}&dec={{=result[dec]}}',[],'slw_spectrum')</script>
(<a href="http://skyserver.sdss3.org/dr8/en/tools/explore/obj.asp?ra={{=result[ra]}}&dec={{=result[dec]}}" target="_blank">manual link</a>)<br/>
{{pass}}
<br/>
{{pass}}

<table class="table table-striped table-condensed">
{{for col in range(len(col_names)):}}
    {{r = result[col]}}
        {{if col_names[col] in html_names:}}
            {{r = html_names[col_names[col]] % dict(zip(raw_col_names,result))}}
        {{pass}}
        <tr><td><b>{{=col_names[col]}}</b></td><td>{{=XML(httplink(r,title=result[col]))}}</td></tr>
{{pass}}
</table>

{{else:}}
{{if request.vars.otype == "scatter":}}
<h2>No info available</h2>
Click on a point on the graph to get more information about that point.<br/>
{{pass}}

{{if request.vars.otype == "hist":}}
<h2>No info available</h2>
Click on a bin on the histogram to get more information about that bin.<br/>
{{pass}}
{{pass}}


<i>You clicked on {{=request.vars.point_info_x}}, {{=request.vars.point_info_y}}.</i>
