{{from gluon.tools import prettydate}}

    {{for ns in newstates[-1:]:}}
<a onclick="$('#no_table_images').append('{{=request.env.http_host}}/{{=ns.url}}\n')" class="btn btn-large btn-success">Add state from {{=ns.portal_name}} ({{=prettydate(ns.time,T)}})</a>
{{pass}}

<script>
    load_time = "{{=request.now}}"
</script>
