{{left_sidebar_enabled = True}}
{{extend 'runlayout.html'}}

{{block left_sidebar}}
<div style="padding:10px">
<h2>{{=dataset.name}}</h2>
{{if dataset.description and dataset.description != dataset.name:}}{{=dataset.description}}<br/>{{pass}}<i>{{=response.subtitle}}</i><br/>
<a href="/{{=request.vars.p}}?d={{=request.vars.d or ''}}">Go back</a>
<br/><br/>
<span style="line-height:120%">
<b>Use this format:</b><br/>
<pre style="padding:0px">RA1,DEC1
RA2,DEC2
RA3,DEC3</pre>
where RAs and DECs are decimal values in degrees. 
Optionally include an ID:
<pre style="padding:0px">RA1,DEC1,ID1
RA2,DEC2,ID2</pre><br/>
</span>
<textarea style="width:250px;height:150px" name="nearby"></textarea>
Search within <input name="dist" value="100" style="width:75px" /> arcseconds
<input type="button" value="Find nearby objects" onclick="refresh()">
</div>

<input type="hidden" name="p" value="{{=request.vars.p}}">
<input type="hidden" name="d" value="{{=request.vars.d or ""}}">

{{end}}

<div id="graph" class="a" style="overflow:auto">
<div style="width:100%; height:100%; overflow:auto">
<div style="text-align: left;vertical-align:top;">
<div id="graph_data"></div></div></div></div>

{{#<!-- Loading graphic: http://ajaxload.info/ -->}}
<div id="loading" style="display:none;"><div id="graph" class="a">
<div style="width:100%; height:100%; display:table;">
<div style="display:table-cell; vertical-align:middle;">
{{#http://www.w3schools.com/cssref/pr_class_position.asp}}
<div style="margin-left:auto; margin-right:auto; width:100px; padding:10px;
background: -moz-linear-gradient(top, white 0%, whiteSmoke 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,whiteSmoke));
background: -webkit-linear-gradient(top, white 0%,whiteSmoke 100%);
background: -o-linear-gradient(top, white 0%,whiteSmoke 100%);
background: -ms-linear-gradient(top, white 0%,whiteSmoke 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='whiteSmoke',GradientType=0 );
background: linear-gradient(top, white 0%,whiteSmoke 100%);
box-shadow: 0px 0px 10px #888;
-moz-box-shadow: 0px 0px 5px #888;
-webkit-box-shadow: 0px 0px 10px #888;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;"><img src="/{{=request.application}}/static/_1.0.0/images/ajax_loader.gif"><h3>Loading...</h3></div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
function refresh()
{       
    try
    {
        $('#loading').show();
    }
    catch(e){}
        
    ajax('/{{=request.application}}/{{=request.controller}}/nearby',['nearby','dist','p','d'],'graph_data');
}
</script>

<!-- http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/ -->
<!-- http://stackoverflow.com/questions/1893751/how-to-prevent-line-break-in-a-column-of-a-table-cell-not-a-single-cell -->
<style>
#hor-minimalist-b
{
    background: #fff;
    border-collapse: collapse;
    border-width: 3px 10px;
    border-color: white;
    border-style: solid;
    text-align: left;
}
#hor-minimalist-b th
{
    padding: 10px 30px 10px 5px;
    border-bottom: 2px solid;
    text-align:left;
}
#hor-minimalist-b td
{
    border-bottom: 1px solid #eee;
    padding: 1px 30px 1px 5px;
    white-space: nowrap;
}
</style>
