{{left_sidebar_enabled,right_sidebar_enabled=False,False}}

{{if 'svg' in globals():}}
{{=XML(svg)}}
{{pass}}
<b>Press escape to stop the benchmark test.</b>
<br/><br/>
{{=lines}} data points so far
<br/><br/>
Last render time: {{=timing}} sec
<br/><br/>
{{if 'gp_model' in globals():}}
gp_model = {{=gp_model}}<br/><br/>
im_model = {{=im_model}}<br/><br/>
{{else:}}
Not enough images to make a model!<br/><br/>
{{pass}}

{{if 'png' in globals():}}
<img src="data:image/png;base64,{{=png.encode('base64')}}"/><br/><br/>
{{pass}}

{{if 'message' in globals():}}
{{=message}}
{{pass}}

<!--ref: http://stackoverflow.com/questions/2787679/how-to-reload-page-every-5-second-->
<script>
setTimeout(function(){
   window.location.reload(1);
}, 250);
</script>
