{{extend 'layout.html'}}

{{if not request.vars.showworking:}}
<a href="?showworking=true" class="btn">show working datasets</a>
{{pass}}

<table>
    <tr><th>ID</th><th>Dataset</th><th>Ftype</th><th>Upload1</th><th>Upload2</th><th>Upload3</th><th>Thumb</th><th>Cache</th><th>Done</th><th>Load</th><th>Refresh</th><th>Edit</th><th>Admins</th><th>Rows</th><th>Cols</th></tr>
    {{for o in output:}}
    {{if not output[o]['thumb'] or request.vars.showworking:}}
    <tr>
    <td>{{=o}}</td>
    <td><div style="width:200px;overflow-x:hidden">{{=output[o]['portal']}}: {{=output[o]['name']}}</div></td>
        <td>{{=output[o]['ftype']}}</td>
        <td>{{if output[o]['upload1']:}} <a href="download/upload1/{{=o}}" class="btn btn-primary">Yes</a> {{pass}}</td>
    <td>{{if output[o]['upload2']:}} <a href="download/upload2/{{=o}}" class="btn btn-primary">Yes</a> {{pass}}</td>
    <td>{{if output[o]['upload3']:}} <a href="download/upload3/{{=o}}" class="btn btn-primary">Yes</a> {{pass}}</td>
    <td>{{if output[o]['thumb']:}} <a href="download/thumb/{{=o}}" class="btn btn-primary">Yes</a> {{pass}}</td>
    <td>{{if output[o]['cache']:}} <a href="download/cache/{{=o}}" class="btn btn-primary">Yes</a> {{pass}}</td>
    <td>{{if output[o]['done']:}} <a href="download/done/{{=o}}" class="btn btn-primary">Yes</a> {{pass}}</td>
        <td><a href="http://{{=request.env.http_host}}/{{=request.application}}/run/index?p={{=output[o]['portalurl']}}&d={{=output[o]['name']}}" target="_blank" class="btn">Load</a></td>
        <td><a href="http://{{=request.env.http_host}}/{{=request.application}}/default/readdataset/{{=o}}/done?fix=true" target="_blank" class="btn">Refresh</a></td>
        <td><a href="http://{{=request.env.http_host}}/{{=request.application}}/default/editportal/{{=output[o]['portalid']}}" target="_blank" class="btn">Edit</a></td>
        <td>{{=output[o]['admin']}}</td>
        <td>{{=output[o]['rows']}}</td>
        <td>{{=output[o]['cols']}}</td>
    </tr>
    {{pass}}
    {{pass}}
</table>
